/**********************
       CONSTANTS
***********************/
/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/
/**********************
         STYLES
***********************/
body {
  background: #d5d5d5;
  min-width: 730px;
}
.container {
  background: none;
  min-height: 874px;
}
/*##########header##########*/
header.row {
  background: #000;
  height: 72px;
}
.logo {
  background: aqua;
  height: 72px;
  padding: 0;
  width: 178px;
}
.banner {
  background: none;
  height: 72px;
  padding: 0;
}
.header_nav {
  background: none;
  height: 72px;
  width: 114px;
  padding: 0px;
}
.header_nav ul {
  list-style-type: none;
  color: #fff;
  font-size: 1em;
  padding: 0px;
  margin-top: 9px;
  line-height: 1.4em;
}
.header_nav a {
  color: #ffffff;
}
.header_nav a:hover {
  text-decoration: underline;
}
/*##########header_end##########*/
/*##########title_area##########*/
.title_area {
  background: #003366;
  height: 38px;
  margin-top: 1px;
}
.title {
  background: none;
  height: 38px;
  padding: 0;
  margin: 0;
  width: 715px;
}
.title a {
  text-decoration: none;
}
.title h4 {
  color: #ffffff;
  font-family: "Signika Negative";
  font-weight: 400;
  padding: 0;
  margin-top: 10px;
  margin-left: 10px;
}
.buttons {
  background: none;
  position: relative;
  padding: 0;
  margin-top: 0;
  height: 38px;
  width: 455px;
}
.buttons ul {
  list-style-type: none;
  background: none;
  height: 38px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2000;
}
.buttons li {
  float: left;
  background: none;
  width: 160px;
  height: 38px;
  color: #fff;
  margin-right: 5px;
  padding-top: 8px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.1em;
  cursor: pointer;
}
.buttons li.small {
  width: 110px;
}
.buttons li:hover {
  background: #fff;
  color: #003366;
}
.buttons ul li:hover .menu-item {
  display: block;
}
.menu-item {
  display: none;
  width: 330px;
  text-align: left;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.menu-item:first-child {
  margin-top: 9px;
}
/*Menu Header Styles*/
.menu-item h4 {
  font-size: 1.2em;
  font-weight: 500;
  padding: 7px 12px;
  background: #fff;
  border-bottom: 1px solid #eee;
  margin-top: 0px;
  margin-bottom: 0px;
}
.menu-item h4 a {
  color: #003366 !important;
  display: block;
  text-decoration: none;
  width: 360px;
  font-family: "Source Sans Pro";
}
/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px;
  /*Collapses the menu*/
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
  margin-bottom: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  /*Animation*/
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  -ms-transition: height 1s ease;
  transition: height 1s ease;
  transition-delay: .3s;
}
.menu-item:hover ul {
  height: 60px;
}
.menu-item:hover ul#constituents {
  height: 248px;
}
.menu-item:hover ul#previous {
  height: 217px;
}
.menu-item:hover ul.single {
  height: 30px;
}
.menu-item ul a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  display: block;
  width: 370px;
}
/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #eee;
  text-align: left;
  float: none;
  height: 31px;
  padding: 0 !important;
  width: 100%;
}
.menu-item li.indent {
  text-indent: 1em;
}
.menu-item li:hover {
  background: #eee;
}
/*##########title_area_end##########*/
/*##########hide_button##########*/
.show {
  background: none;
}
#show_hide {
  background: #ecedef;
  height: 20px;
  width: 140px;
  float: right;
  border: 1px solid #b0b0b0;
  text-align: center;
  margin-bottom: 10px;
  font-size: .9em;
  cursor: pointer;
}
#show_hide:hover {
  background: #c8c8c8;
}
/*##########hide_button_end##########*/
/*##########footer##########*/
footer {
  min-height: 20px;
  margin-top: 10px;
  position: relative;
}
.footer_top {
  background: #666666;
  height: 20px;
  padding: 0;
  font-size: .8em;
}
.footer_top ul {
  list-style-type: none;
  margin-left: -25px;
}
.footer_top li {
  float: left;
  margin-right: 40px;
  padding-top: 3px;
}
.footer_top a {
  color: #fff;
}
.footer_bottom {
  background: #fff;
  min-height: 20px;
}
.footer_bottom p.first {
  margin-top: 7px;
}
.footer_bottom p {
  line-height: 1em;
}
.footer_bottom a {
  color: #003366;
}
#pic_links {
  background: none;
  width: 175px;
  height: 70px;
  position: absolute;
  right: 0;
  top: 10px;
}
#pic_links img {
  float: left;
  margin-right: 10px;
}
/*##########footer_end##########*/
@media (min-width: 992px) and (max-width: 1199px) {
  .banner {
    width: 678px;
  }
  /*##########header_end##########*/
  /*##########title_area##########*/
  .title {
    width: 540px;
  }
  .buttons {
    width: 430px;
  }
  .buttons li {
    width: 150px;
  }
  .menu-item {
    width: 280px;
  }
  .menu-item h4 {
    font-size: 1em;
  }
  .menu-item li {
    font-size: .9em;
    width: 100%;
  }
  .menu-item li.indent {
    text-indent: .8em;
  }
  h3 {
    font-size: 1.2em;
  }
}
/*media end */
@media (min-width: 768px) and (max-width: 991px) {
  .banner {
    width: 457px;
  }
  /*##########header_end##########*/
  /*##########title_area##########*/
  .title {
    width: 360px;
  }
  .title h4 {
    font-size: 1.2em;
  }
  .buttons {
    width: 390px;
  }
  .buttons li {
    width: 135px;
    padding-top: 10px;
    font-size: .9em;
  }
  .buttons li.small {
    width: 95px;
  }
  .menu-item {
    width: 260px;
  }
  .menu-item li {
    width: 100%;
    font-size: 0.85em;
  }
  .menu-item li.indent {
    text-indent: .9em;
  }
  h3 {
    font-size: 1.2em;
  }
}
/*media end */
@media (min-width: 220px) and (max-width: 767px) {
  .banner {
    width: 420px;
  }
  /*##########header_end##########*/
  /*##########title_area##########*/
  .title {
    width: 330px;
  }
  .title h4 {
    font-size: 1.2em;
  }
  .buttons {
    width: 400px;
  }
  .buttons li {
    width: 135px;
    font-size: .9em;
  }
  .buttons li.small {
    width: 95px;
  }
  .menu-item {
    width: 260px;
  }
  .menu-item li {
    width: 100%;
    font-size: 0.85em;
  }
  .menu-item li.indent {
    text-indent: .9em;
  }
  h3 {
    font-size: 1.2em;
  }
  /*##########title_area_end##########*/
}
/*media end */
/**********************
        MIXINS
***********************/

/**********************
       CONSTANTS
***********************/
/*##########content##########*/
/*###########################home_start####################### */
.holder {
  height: 650px;
  background: #fff;
  padding-top: 15px;
}
.tagline {
  background: none;
  min-height: 40px;
  text-align: center;
}
.tagline h2 {
  font-family: "Source Sans Pro";
  font-size: 2em;
  color: #003366;
  font-weight: 700;
}
.tagline p {
  font-family: "Source Sans Pro";
  font-size: 1.1em;
}
.center {
  margin: 0 auto;
  width: 1015px;
  min-height: 100px;
  background: none;
}
.home_icon_holder {
  background: #f1f1f1;
  width: 325px;
  height: 330px;
  margin-top: 25px;
  border-radius: 10px;
  text-align: center;
  color: #003366;
  border: 1px solid #aeaeae;
  float: left;
  margin-right: 20px;
}
.home_icon_holder h4 {
  padding-top: 5px;
}
.last {
  margin-right: 0;
}
.inside {
  background: #fff;
  width: 290px;
  height: 258px;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid #aeaeae;
  overflow: hidden;
}
.highlight {
  background: none;
  height: 120px;
  margin-top: 25px;
}
.highlight h3 {
  color: #003366;
  font-size: 1.8em;
  margin-bottom: 10px;
}
/*###########################home_end####################### */
/*###########################site_start####################### */
.content {
  background: none;
  min-height: 100%;
  position: relative;
}
.site_map {
  background: #ffffff;
  height: 600px;
  padding: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}
.map {
  background: none;
  height: 600px;
}
.solution {
  background: none;
  overflow: auto;
}
.sites {
  background: none;
  height: 600px;
}
.site_table {
  background: none;
  margin: 0 auto;
  margin-top: 15px;
  width: 860px;
}
.site_table th {
  background: none;
  width: 400px;
  padding-left: 20px;
  font-size: 1.2em;
  color: #003366;
}
.site_table th.first_header {
  width: 250px;
}
.site_table th.name {
  background: none;
  width: 450px;
}
.site_table th.type {
  background: none;
  width: 200px;
}
.site_table a {
  background: red;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 860px;
}
tr.clickableRow {
  cursor: pointer;
}
tr.clickableRow:hover {
  color: #006699;
}
.site_table td {
  padding-left: 20px;
  height: 30px;
}
.filter {
  background: #fafafa;
  height: 600px;
  border-left: 1px solid #dcdcdc;
  border-radius: 0 10px 10px 0;
}
.statement {
  background: #fff;
  min-height: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
  border-radius: 0 10px 0 0;
  border: 1px solid #bebebe;
  overflow: hidden;
  text-align: center;
}
.statement p {
  padding: 10px 10px 0 10px;
  font-size: 1em;
  font-family: "Source Sans Pro";
}
.statement i {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  color: #0707fb;
}
.map_view {
  width: 100px;
  height: 25px;
  margin-left: 27px;
  margin-right: 5px;
  border: 1px solid #bebebe;
  background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #ffffff, #e6e6e6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, #ffffff, #e6e6e6);
  /* Standard syntax */
  border-radius: 5px;
  color: #003366;
}
.site_view {
  width: 100px;
  height: 25px;
  border: 1px solid #bebebe;
  background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #ffffff, #e6e6e6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, #ffffff, #e6e6e6);
  /* Standard syntax */
  border-radius: 5px;
  color: #003366;
}
.filter form {
  background: none;
  width: 100%;
  min-height: 200px;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "Source Sans Pro";
  font-size: 1.3em;
}
.filter input {
  background: lime;
  width: 25px;
  margin-left: 15px;
}
/*###########################site_end####################### */
/*###########################summary_start####################### */
.summary_info {
  background: #ffffff;
  min-height: 750px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.site {
  background: #fafafa;
  height: 130px;
  text-align: center;
  border-bottom: 1px solid #bebebe;
  color: #3b3b3b;
}
.site h2 {
  margin-bottom: -8px;
  font-size: 1.8em;
}
.col-lg-1 {
  padding-left: 0;
}
.full_report {
  background: #e6e6e6;
  height: 35px;
  width: 145px;
  padding-bottom: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  text-align: left;
  color: #a0a0a0;
  font-size: 1.1em;
  border-radius: 5px 0 0 0;
}
.full_report:hover {
  background: #d2d2d2;
}
.full_report ul {
  background: none;
  list-style-type: none;
  padding-left: 0;
  height: 35px;
  width: 130px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  float: left;
}
.full_report ul li {
  background: none;
  display: inline-block;
  width: 130px;
  height: 35px;
  padding-left: 10px;
  padding-top: 6px;
  cursor: pointer;
  margin-bottom: 10px;
  float: left;
}
.full_report ul li a {
  color: #000;
  text-decoration: none;
}
.full_report i {
  margin-top: 9px;
  position: absolute;
  right: 15px;
  color: #000;
}
.graphs {
  background: none;
  height: 510px;
  margin-top: 20px;
}
.comparisonGraph {
  background: none;
  height: 100%;
  padding: 0px;
}
.human {
  background: none;
  height: 100%;
  margin-right: 10px;
  text-align: center;
  padding-left: 5px;
}
.human h3 {
  font-size: 1.5em;
  color: #003366;
}
.human h6 {
  padding-left: 50px;
}
.aquatic {
  background: none;
  height: 100%;
  width: 350px;
  text-align: center;
}
.aquatic h3 {
  font-size: 1.5em;
  color: #003366;
}
.aquatic h6 {
  padding-left: 50px;
}
/*###########################summary_end####################### */
/*###########################full_report_start####################### */
.full_site {
  background: #fafafa;
  height: 100px;
  text-align: center;
  border-bottom: 1px solid #bebebe;
  color: #3b3b3b;
}
.full_site h2 {
  margin-bottom: 8px;
  font-size: 1.8em;
}
.back_to_report {
  background: #e6e6e6;
  height: 35px;
  width: 150px;
  padding-bottom: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-right: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  text-align: right;
  color: #a0a0a0;
  font-size: 1.1em;
  border-radius: 0 5px 0 0;
}
.back_to_report:hover {
  background: #d2d2d2;
}
.back_to_report ul {
  background: none;
  list-style-type: none;
  padding-left: 0;
  height: 35px;
  width: 130px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  float: left;
}
.back_to_report ul li {
  background: none;
  display: inline-block;
  width: 150px;
  height: 35px;
  padding-right: 10px;
  padding-top: 6px;
  cursor: pointer;
  margin-bottom: 10px;
  float: left;
}
.back_to_report ul li a {
  color: #000;
  text-decoration: none;
}
.back_to_report i {
  margin-top: 9px;
  position: absolute;
  left: 10px;
  color: #000;
}
.report_filter {
  background: #fafafa;
  height: 650px;
}
.full_report_graphs {
  background: none;
  min-height: 603px;
  text-align: center;
  position: relative;
}
.full_report_graphs img {
  margin-top: 15px;
}
.wrapper {
  background: none;
  height: 590px;
  overflow: auto;
  margin-top: 10px;
  padding-top: 0;
}
.full_report_plot {
  background: none;
  min-height: 183px;
  padding: 0;
  margin-bottom: 10px;
  cursor: move;
}
.full_report_plot img {
  margin: 0;
}
.last {
  margin-bottom: 0;
}
.slider {
  background: #eee;
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 12%;
  width: 80%;
}
.slider_label_container label {
  position: absolute;
  width: 20px;
  margin-top: 20px;
  margin-left: -10px;
  text-align: center;
}
.full_report_instructions i {
  font-size: 5em;
}
/*###########################full_report_end####################### */
/*###########################about_start####################### */
.about_content {
  background: #fff;
  width: 100%;
  padding: 5px 10px 10px 10px;
}
.about_content p {
  font-family: "Source Sans Pro";
  font-size: 1.2em;
  line-height: 1.5em;
}
.about_content ul {
  font-family: "Source Sans Pro";
  font-size: 1.2em;
}
.about_content ul li {
  margin-top: 10px;
}
#wrapper {
  background: none;
  width: 90%;
  margin: 0 auto;
}
/*###########################about_end####################### */
/*#########ipad_landscape######## */
@media (min-width: 992px) and (max-width: 1199px) {
  /*###########################home_start####################### */
  .holder {
    height: 620px;
  }
  .center {
    width: 935px;
  }
  .home_icon_holder {
    width: 305px;
    height: 310px;
    margin-right: 10px;
  }
  .home_icon_holder h4 {
    font-size: 1.2em;
  }
  .inside {
    width: 270px;
    height: 238px;
  }
  .last {
    margin-right: 0;
  }
  /*###########################home_end####################### */
  /*###########################site_start####################### */
  .statement {
    padding: 0;
  }
  .statement p {
    padding: 8px 8px 0 8px;
    font-size: .9em;
  }
  .map_view {
    width: 80px;
  }
  .site_view {
    width: 80px;
  }
  .site_table th.first_header {
    background: none;
    width: 80px;
  }
  .site_table th.name {
    width: 220px;
  }
  .site_table th.type {
    width: 200px;
  }
  /*###########################site_end####################### */
  /*###########################summary_start####################### */
  .human {
    width: 300px;
  }
  .aquatic {
    width: 300px;
  }
  .graphContainer {
    width: 320px;
  }
}
/*media query end */
/*#########ipad_portrait######## */
@media (min-width: 768px) and (max-width: 991px) {
  /*###########################home_start####################### */
  .holder {
    height: 600px;
  }
  .tagline h2 {
    font-size: 1.5em;
  }
  .tagline p {
    font-size: 1em;
  }
  .center {
    width: 725px;
  }
  .home_icon_holder {
    width: 235px;
    height: 260px;
    margin-right: 10px;
  }
  .home_icon_holder h4 {
    font-size: 1.2em;
  }
  .inside {
    width: 200px;
    height: 168px;
  }
  .last {
    margin-right: 0;
  }
  /*###########################home_end####################### */
  /*###########################site_start####################### */
  .site_table {
    width: 600px;
  }
  .site_table th {
    width: 100px;
  }
  .site_table th.first_header {
    width: 80px;
  }
  .site_table th.name {
    width: 320px;
  }
  .site_table th.type {
    width: 200px;
  }
  .site_table td {
    font-size: .85em;
  }
  .statement {
    padding: 0;
  }
  .statement p {
    padding: 5px 8px 0 8px;
    font-size: .85em;
  }
  .map_view {
    width: 75px;
    margin-left: 1px;
    margin-right: 1px;
    overflow: hidden;
    font-size: .95em;
  }
  .site_view {
    width: 75px;
    height: 25px;
    font-size: .95em;
  }
  /*###########################site_end####################### */
  /*###########################summary_start####################### */
  .summary_info {
    min-height: 721px;
  }
  .site {
    height: 120px;
    border-bottom: 1px solid #bebebe;
  }
  .site h2 {
    font-size: 1.6em;
  }
  .site h3 {
    font-size: 1.4em;
  }
  .graphs {
    height: 100%;
  }
  .human {
    height: 480px;
    width: 100%;
    margin-top: 10px;
  }
  .human img {
    margin-bottom: 10px;
    margin: 0 auto;
  }
  .aquatic {
    height: 480px;
    width: 100%;
  }
  .aquatic img {
    margin-bottom: 10px;
    margin: 0 auto;
  }
  /*###########################summary_end####################### */
  .full_site h2 {
    font-size: 1.6em;
  }
}
/*query end */
@media (min-width: 220px) and (max-width: 767px) {
  /*###########################home_start####################### */
  .holder {
    height: 600px;
  }
  .tagline h2 {
    font-size: 1.5em;
  }
  .tagline p {
    font-size: 1em;
  }
  .center {
    width: 725px;
  }
  .home_icon_holder {
    width: 235px;
    height: 260px;
    margin-right: 10px;
  }
  .home_icon_holder h4 {
    font-size: 1.2em;
  }
  .inside {
    width: 200px;
    height: 168px;
  }
  .last {
    margin-right: 0;
  }
  /*###########################home_end####################### */
  /*###########################site_start####################### */
  .site_table {
    width: 600px;
  }
  .site_table th {
    width: 100px;
  }
  .site_table th.first_header {
    width: 80px;
  }
  .site_table th.name {
    width: 350px;
  }
  .site_table th.type {
    width: 200px;
  }
  .site_table td {
    font-size: .9em;
  }
  .statement {
    padding: 0;
  }
  .statement p {
    padding-top: 5px 8px 0 8px;
    font-size: .85em;
  }
  .map_view {
    width: 72px;
    height: 25px;
    margin-left: 1px;
    margin-right: 1px;
    overflow: hidden;
    font-size: .85em;
  }
  .site_view {
    width: 72px;
    height: 25px;
    font-size: .85em;
  }
  /*###########################site_end####################### */
  /*###########################summary_start####################### */
  .summary_info {
    min-height: 721px;
  }
  .site {
    height: 120px;
    border-bottom: 1px solid #bebebe;
  }
  .site h2 {
    font-size: 1.6em;
  }
  .site h3 {
    font-size: 1.4em;
  }
  .graphs {
    height: 100%;
  }
  .human {
    height: 480px;
    width: 100%;
    margin-top: 10px;
  }
  .human img {
    margin-bottom: 10px;
    margin: 0 auto;
  }
  .aquatic {
    height: 480px;
    width: 100%;
  }
  .aquatic img {
    margin-bottom: 10px;
    margin: 0 auto;
  }
  /*###################################### */
  .full_site h2 {
    font-size: 1.6em;
  }
}
/*query end */
