{% extends "base.html" %}
{% load static from staticfiles %}
{% load compress %}



{% block content %}

	<div class="about_content">
	
		<div id="wrapper">
		
		<h1>2001-2007 NASQAN Design Information</h1>
		
		<div class="feed-div">

   <blockquote>
   <h2>Station List 2001-2007</h2><p>
   <table border="0" cellpadding="4" cellspacing="0">
   <tr>
				<th width="150" style="border-bottom:1px solid;">Water-Quality Station Number</th>
				<th width="150"  style="border-bottom:1px solid;">Gaging Station  Number</th>
				<th width="350" valign="bottom" style="vertical-align:bottom;border-bottom:1px solid;">Station Name</th>
				<th width="120" valign="bottom" style="vertical-align:bottom;border-bottom:1px solid;">Drainage Area (square miles)</th>
			</tr>

			<tr>
				<td colspan="3" class="basin">Mississippi River Basin</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=03086000">03086000</a></td>
				<td width="150" align="center">03086000</td>
				<td width="350" valign="middle">Ohio River at Sewickley PA</td>
				<td width="120" valign="middle" align="right">19,500</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=03216600">03216600</a></td>
				<td width="150" align="center">03216600</td>
				<td width="350" valign="middle">Ohio River at Greenup Dam near Greenup, KY</td>
				<td width="120" valign="middle" align="right">62,000</td>
			</tr>
			<tr>
				<td width="150" align="center" ><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=03303280">03303280</a></td>
				<td width="150" align="center">03303280</td>
				<td width="350" valign="middle">Ohio River at Cannelton Dam at Cannelton, IN</td>
				<td width="120" valign="middle" align="right">97,000</td>
			</tr>

			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=03378500">03378500</a></td>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=03377500">03377500</a></td>
				<td width="350" valign="middle">Wabash River at New Harmony IN</td>
				<td width="120" valign="middle" align="right">29,234</td>
			</tr>
			<tr>

				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=03438500">03438500</a></td>
				<td width="150" align="center">03438500</td>
				<td width="350" valign="middle">Cumberland River at Smithland, Kentucky</td>
				<td width="120" valign="middle" align="right">17,913</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=03609750">03609750</a></td>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=03609500">03609500</a></td>
				<td width="350" valign="middle">Tennessee River at Highway 60 near Paducah KY</td>
				<td width="120" valign="middle" align="right">40,330</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=03612500">03612500</a></td>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=03611500">03611500</a></td>
				<td width="350" valign="middle">Ohio River at Dam 53 near Grand Chain IL</td>
				<td width="120" valign="middle" align="right">203,100</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=05420500">05420500</a></td>
				<td width="150" align="center">05420500</td>
				<td width="350" valign="middle">Mississippi River at Clinton IA</td>
				<td width="120" valign="middle" align="right">85,600</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=06185500">06185500</a></td>
				<td width="150" align="center">06185500</td>
				<td width="350" valign="middle">Missouri River near Culbertson MT</td>
				<td width="120" valign="middle" align="right">91,557</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=06338490">06338490</a></td>
				<td width="150" align="center">06338490</td>
				<td width="350" valign="middle">Missouri River at Garrison Dam ND</td>
				<td width="120" valign="middle" align="right">181,400</td>
			</tr>

			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=06467500">06467500</a></td>
				<td width="150" align="center">06467500</td>
				<td width="350" valign="middle">Missouri River at Yankton SD</td>
				<td width="120" valign="middle" align="right">279,500</td>
			</tr>
			<tr>

				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=06610000">06610000</a></td>
				<td width="150" align="center">06610000</td>
				<td width="350" valign="middle">Missouri River at Omaha NE</td>
				<td width="120" valign="middle" align="right">322,800</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=06934500">06934500</a></td>
				<td width="150" align="center">06934500</td>
				<td width="350" valign="middle">Missouri River at Hermann MO</td>
				<td width="120" valign="middle" align="right">522,500</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=07022000">07022000</a></td>
				<td width="150" align="center">07022000</td>
				<td width="350" valign="middle">Mississippi River at Thebes IL</td>
				<td width="120" valign="middle" align="right">713,200</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=07263620">07263620</a></td>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=07263450">07263450</a></td>
				<td width="350" valign="middle">Arkansas River at David D. Terry Lock &amp; Dam below Little Rock AR</td>
				<td width="120" valign="middle" align="right">158,288</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=07381495">07381495</a></td>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=07381490">07381490</a></td>
				<td width="350" valign="middle">Atchafalaya River at Melville LA</td>
				<td width="120" valign="middle" align="right">93,316</td>

			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=07373420">07373420</a></td>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=07295100">07295100</a></td>
				<td width="350" valign="middle">Mississippi River near St. Francisville LA</td>
				<td width="120" valign="middle" align="right">1,125,300</td>
			</tr>

			<tr>
				<td colspan="4" class="basin">Rio Grande Basin</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=08374200">08374200</a></td>
				<td width="150" align="center">08374200</td>
				<td width="350" valign="middle">Rio Grande below Rio Conchos near Presidio TX</td>
				<td width="120" valign="middle" align="right">66,203</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=08377200">08377200</a></td>
				<td width="150" align="center">08377200</td>
				<td width="350" valign="middle">Rio Grande at Foster Ranch near Langtry TX</td>
				<td width="120" valign="middle" align="right">80,742</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=08447410">08447410</a></td>
				<td width="150" align="center">08447410</td>
				<td width="350" valign="middle">Pecos River near Langtry TX</td>
				<td width="120" valign="middle" align="right">44,015</td>
			</tr>

			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=08450900">08450900</a></td>
				<td width="150" align="center">08450900</td>
				<td width="350" valign="middle">Rio Grande below Amistad Reservoir near Del Rio TX</td>
				<td width="120" valign="middle" align="right">123,143</td>
			</tr>
			<tr>

				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=08459200">08459200</a></td>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=08459000">08459000</a></td>
				<td width="350" valign="middle">Rio Grande at Pipeline Crossing below Laredo TX</td>
				<td width="120" valign="middle" align="right">132,578</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=08461300">08461300</a></td>

				<td width="150" align="center">08461300</td>
				<td width="350" valign="middle">Rio Grande below Falcon Dam TX</td>
				<td width="120" valign="middle" align="right">159,270</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=08470400">08470400</a></td>
				<td width="150" align="center">08470400</td>
				<td width="350" valign="middle">Arroyo Colorado at Harlingen TX</td>
				<td width="120" valign="middle" align="right">381</td>
			</tr>
			<tr>
				<td colspan="4" class="basin">Yukon River Basin</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=15356000">15356000</a></td>
				<td width="150" align="center">15356000</td>
				<td width="350" valign="middle">Yukon River at Eagle AK</td>
				<td width="120" valign="middle" align="right">113,500</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=15389000">15389000</a></td>
				<td width="150" align="center">15389000</td>
				<td width="350" valign="middle">Porcupine River near Fort Yukon AK</td>
				<td width="120" valign="middle" align="right">29,500</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=15453500">15453500</a></td>
				<td width="150" align="center">15453500</td>
				<td width="350" valign="middle">Yukon River near Stevens Village AK</td>
				<td width="120" valign="middle" align="right">196,300</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=15515500">15515500</a></td>
				<td width="150" align="center">15515500</td>
				<td width="350" valign="middle">Tanana River at Nenana AK</td>
				<td width="120" valign="middle" align="right">25,600</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=15565447">15565447</a></td>
				<td width="150" align="center">15565447</td>
				<td width="350" valign="middle">Yukon River at Pilot Station AK</td>
				<td width="120" valign="middle" align="right">321,000</td>
			</tr>
			<tr>
				<td colspan="4" class="basin">Colorado River Basin</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=09404200">09404200</a></td>
				<td width="150" align="center">09404200</td>
				<td width="350" valign="middle">Colorado River above Diamond Creek AZ</td>
				<td width="120" valign="middle" align="right">149,316</td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=09522000">09522000</a></td>
				<td width="150" align="center">09522000</td>
				<td width="350" valign="middle">Colorado River at Northerly International Boundary (NIB), above Morelos Dam, near Andrade, CA</td>
				<td width="120" valign="middle" align="right">246,700</td>
			</tr>
			<tr>
				<td colspan="4" class="basin">Columbia River Basin </td>
			</tr>
			<tr>
				<td width="150" align="center"><a title="Link to NWISWeb Station Information" href="https://waterdata.usgs.gov/nwis/inventory/?site_no=14246900">14246900</a></td>
				<td width="150" align="center">14246900</td>
				<td width="350" valign="middle">Columbia River at Beaver Army Terminal near Quincy OR</td>
				<td width="120" valign="middle" align="right">256,900</td>
			</tr>
		</table>
   </blockquote>
   
   		</div>
		
	</div>
	
	
	</div>

{% endblock %}