{% extends "base.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block content %}


<div class="content">

	<div id="wrapper">

<h1>About</h1>

<p>

The National Fixed Site Network (NFSN) includes 100 sites monitored by the USGS National Water-Quality Assessment 
(<a href="" target="_blank">NAWQA</a>) Program. The NFSN includes 19 large river coastal sites, 42 large river inland sites, 
19 wadeable stream reference sites, 10 wadeable stream urban sites, and 10 wadeable stream agricultural sites. The primary 
objectives to be addressed by the NSFN are to: 
</p>

	<ul>
	
		<li>Determine the status and trends in loads and concentrations of contaminants, nutrients, and sediment in the Nation’s 
		large rivers, including loads to selected major estuaries;</li>
		
		<li>Determine the status and trends in concentrations of contaminants, nutrients, and sediment for case-study wadeable 
		streams in selected land-use and environmental settings; and</li>
		
		<li>Determine trends in ecological condition in relation to trends in contaminants, nutrients, sediment, and streamflow 
		alteration for case-study wadeable streams in selected land-use and environmental settings. </li>
	
	</ul>
	
	<p>Learn more about the <a href="" target="_blank">USGS NAWQA Program</a></p>
	
	<p>Learn more about <a href="" target="_blank">Nutrients in the Nation’s Streams and Groundwater</a></p>
	
	<p>Learn more about <a href="" target="_blank">Pesticides in the Nation’s Streams and Groundwater</a></p>
	
	</div>

</div>


{% endblock %}