{% extends "base.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block content %}

<div class=" row coastal_holder">

	
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 coastal_title">
	
		<h3>Nitrate Loads and Yields in Coastal Rivers</h3>
					
		<a href="{% url 'download' %}"><button id="coastalDownload" class="additional">Download Data</button></a>
	
	</div><!--coastal_title-->
	
	<div class="row coastal_content">
	
		<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9" id="coastal_map"></div>
		
		  <div id="coastal_ak_map_div"><div id="coastal_ak_map"></div></div>
		
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 coastal_filter">
		
			<div id="coastal_info">
			
				<p>Hover over (or click) on a <i class="glyphicon glyphicon-play"></i> for site information</p>
			
			</div>
			
			<a href="{% url 'coastal-more' %}"><button>Northeast</button></a>
			
			<button>Southeast</button>
			
			<button>Gulf</button>
			
			<button>West</button>
			
			<ul>
			
				<li id="relative">More Information
				
					<ul id="relativeLinks">
					
						<li>
					
							<h3>More Information</h3>
							
							<a href="http://water.usgs.gov/nawqa/sparrow/estuary/n_atlantic/" target="_blank"><p>Tracking the Source Of Nutrients to the Nation's Estuaries</p></a>
							
							<a href="http://cbrim.er.usgs.gov" target="_blank"><p>Nutrient Loads in the Chesapeake Bay Watershed</p></a>
							
							<a href="http://stateofthecoast.noaa.gov/hypoxia/welcome.html" target="_blank"><p>Nutrient Pollution in Estuaries</p></a>
						
						</li>
					
					</ul>
				
				</li>
			
			</ul>

		</div>	
	
	</div><!--coastal_content-->
	
</div><!--coastal_holder-->

{% compress js %}
<script type="text/javascript" src="{% static 'nar_ui/js_lib/OpenLayers/OpenLayers.debug.js' %}"></script>

<script type="text/javascript" src="{% static 'nar_ui/mapCommons.js' %}"></script>

<script type="text/javascript" src="{% static 'nar_ui/coastal/map.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/coastal/main.js' %}"></script>

{% endcompress %}

{% endblock %}