{% extends "base.html" %} 
{% load static from staticfiles %} 
{% load compress %} 
{% block content %} 
{% compress js %}
<script type="text/javascript" src="{% static 'nar_ui/download.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/jquery-ui/jquery-ui.min.js' %}"></script>
{% endcompress %}

<script>//select2 script
	$(document).ready(function() { 
		nar.downloads.initDownloadPage();
	});//doc ready
</script>

<div id="downloadTop">

	<h2>Download Data</h2>
</div>
<!--downloadTop-->

<form id="downloadForm" class="form-inline" method="get" >
	<div id="downloadLimitWarning">
		<p class="text-info">Large datasets cannot currently be downloaded. <br/> Please limit the number of sites in your data downloads until this issue is resolved.</p>
	</div>
	<div id="dateTimeDiv">
        <label  for="startDateTime">Start Water Year:</label>
		<input  id="startDateTime" type="hidden" class="" tabindex="-1" name="startDateTime" placeholder="Start Water Year (optional)">
        <label  for="endDateTime">End Water Year:</label>
	    <input  type="hidden" id="endDateTime" class="" tabindex="-1" name="endDateTime">
	</div>
	<select multiple="multiple" id="state" class="populate select2-offscreen"
		tabindex="-1"  name="state">
	</select> 
	<select multiple="multiple" id="siteType" class="populate select2-offscreen"
		tabindex="-1"  name="siteType">
	</select> 
	<select multiple="multiple" id="stationId" class="populate select2-offscreen"
		tabindex="-1"  name="stationId">
	</select> 
	
	
	<div id="checkbox_holder">

		<p class="format">* Choose a data type(s):</p>

		<input id="siteInformation" type="checkbox" name="dataType" value="siteInformation"/>Site Information 
		<input id="waterQuality" type="checkbox" name="dataType" value="waterQuality"/>Water Quality 
		<input id="streamFlow" type="checkbox" name="dataType" value="streamFlow"/>Stream Flow

	</div>
	
	<select multiple="multiple" id="constituent" class="populate select2-offscreen"
		tabindex="-1"  name="constituent">
		<option value="TN">Total Nitrogen</option>
		<option value="NO3_NO2">Nitrite plus Nitrate</option>
		<option value="TP">Total Phosphorus</option>
		<option value="SSC">Suspended Sediment</option>
	</select> 
	
	<select multiple="multiple" id="qwDataType" class="populate select2-offscreen"
		tabindex="-1"  name="qwDataType">
		<option value="annualLoad">Annual Load</option>
		<option value="mayLoad">May Load and Flow Conditions (Mississippi River Basin sites)</option>
		<option value="sampleConcentrations">Sample Concentrations</option>
	</select>
	<select multiple="multiple" id="streamFlowType" class="populate select2-offscreen" tabindex="-1" name="streamFlowType">
	   <option value="annualFlow">Annual flow</option>
	   <option value="dailyFlow">Daily flow</otpion>
	</select>

	<div id="box">

		<p class="format">Choose a File Format:</p>

		<div id="format_holder">
			<input type="radio" name="mimeType" value="text/csv" checked="true"/>.csv
			<input type="radio" name="mimeType" value="text/tab-separated-values" />.tsv 
		</div>

	</div>
	
	<div id="downloadButtons">

		<button id="clear-filters-button" type="button">Clear Selection Criteria</button>

		<button id="download-button" type="button">Download</button>

	</div>



</form>
<!--downloadForm-->

{% endblock %}
