{% extends "base.html" %} 
{% load static from staticfiles %} 
{% load compress %} 
{% block content %} 
{% compress js %}
<script type="text/javascript" src="{% static 'nar_ui/download.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/jquery-ui/jquery-ui.min.js' %}"></script>
{% endcompress %}




<div id="downloadTop">

	<h2>Download Data</h2>

</div>
<!--downloadTop-->

<form id="downloadForm" action="http://{{ settings.DATA_DOWNLOAD_SERVICE|escapejs }}{{ settings.DATA_DOWNLOAD_PATH|escapejs}}" method="get" >
	
	<input id="startDateTime" class="" tabindex="-1" name="startDateTime" placeholder="Start Date (optional)"/>
	<input id="endDateTime" class="" tabindex="-1" name="endDateTime" placeholder="End Date (optional)"/>
	
	<select multiple="multiple" id="state" class="populate select2-offscreen"
		tabindex="-1"  name="state">
	</select> 
	<select multiple="multiple" id="stationId" class="populate select2-offscreen"
		tabindex="-1"  name="stationId">
	</select> 
	<select multiple="multiple" id="siteType" class="populate select2-offscreen"
		tabindex="-1"  name="siteType">
	</select> 
	
	
	<div id="checkbox_holder">

		<p class="format">* Choose a data type(s):</p>

		<input id="first" type="checkbox" name="dataType" value="siteInformation"/>Site Information 
		<input id="waterQuality" type="checkbox" name="dataType" value="waterQuality"/>Water Quality 
		<input id="streamFlow" type="checkbox" name="dataType" value="streamFlow"/>Stream Flow

	</div>
	
	<select multiple="multiple" id="constituent" class="populate select2-offscreen"
		tabindex="-1"  name="constituent">
		<option value="nitrate">Nitrate</option>
		<option value="totalNitrogen">Total Nitrogen</option>
		<option value="totalPhosphorus">Total Phosphorus</option>
		<option value="suspendedSediment">Suspended Sediment</option>

	</select> 
	<select multiple="multiple" id="qwDataType" class="populate select2-offscreen"
		tabindex="-1"  name="qwDataType">
		<option value="annualLoad">Annual load</option>
		<option value="monthlyLoad">Monthly load</option>
		<option value="discreteQw">Discrete QW</option>
	</select>
	<select multiple="multiple" id="streamFlowType" class="populate select2-offscreen" tabindex="-1" name="streamFlowType">
	   <option value="annualFlow">Annual flow</option>
	   <option value="monthylFlow">Monthly flow</option>
	   <option value="dailyFlow">Daily flow</otpion>
	</select>

	<div id="box">

		<p class="format">Choose a File Format:</p>

		<div id="format_holder">
			<input type="radio" name="mimeType" value="text/csv" checked="true"/>.csv
			<input type="radio" name="mimeType" value="text/tab-separated-values" />.tsv 
			<input type="radio" name="mimeType" value="application/vnd.ms-excel" />.excel 
		</div>

	</div>
	
	<div id="downloadButtons">

		<button id="clear-filters-button" type="button">Clear Filters</button>

		<button id="download-button" type="button">Download</button>

	</div>



</form>
<!--downloadForm-->

{% endblock %}
