{% extends "base.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block style %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'nar_ui/js_lib/jstree/themes/default/style.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'nar_ui/js_lib/jquery-ui/css/ui-lightness/jquery-ui.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'nar_ui/js_lib/jquery-ui-slider-pips/jquery-ui-slider-pips.css' %}"/>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	
	<script type="text/javascript">
			var PARAMS = {
				'siteId' : '{{ site_id|escapejs}}'
			};
	</script>
	{% compress js %}
		{# third-party #}
        <script type="text/javascript" src="{% static 'nar_ui/js_lib/jquery-ui/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'nar_ui/js_lib/jquery-ui-slider-pips/jquery-ui-slider-pips.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.js' %}"></script>
        <script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.canvas.js' %}"></script>
        <script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.resize.js' %}"></script>
        <script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.categories.js' %}"></script>
        <script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.time.js' %}"></script>
        <script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.selection.js' %}"></script>
        <script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.symbol.js' %}"></script>
        <script type="text/javascript" src="{% static 'nar_ui/js_lib/flot_plugins/jquery.flot.axislabels.js' %}"></script>
        <script type="text/javascript" src="{% static 'nar_ui/js_lib/flot_plugins/jquery.flot.tooltip.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/jstree/jstree.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/TinyColor/tinycolor.js' %}"></script>
		
		{# local #}
		<script type="text/javascript" src="{% static 'nar_ui/full_report/WaterYearUtils.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/full_report/PlotUtils.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/Constituents.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/Definitions.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/SiteInfo.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/full_report/sample_concentration_plot.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/full_report/LoadPlot.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/full_report/Hydrograph.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/full_report/TimeSeries.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/full_report/TimeSeriesCollection.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/full_report/TimeSeriesVisualization.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/full_report/TimeSeriesVisualizationRegistry.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/full_report/TimeSeriesVisualizationController.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/full_report/fullReportTree.js' %}"></script>
        <script type="text/javascript" src="{% static 'nar_ui/full_report/TimeSlider.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/full_report/main.js' %}"></script>
	{% endcompress %}
	<script type="text/javascript">
		nar.loadDefinitions(CONFIG.definitionsUrl);
		nar.loadSiteHelpInfo(CONFIG.siteInfoUrl);
	</script>
		
{% endblock %}

{% block content %}

<div class="row summary_info">

	
	<div class="col-lg-12 full_site col-md-12 col-sm-12 col-xs-12">
		<h2>{{ site_name }}</h2>
		<h3>Station ID: {{ site_id }}</h3>
		
		<div class="col-lg-1 back_to_report col-md-1 col-sm-1 col-xs-1">
		
			<ul>
				
				<li><a href="summary-report"><i class="glyphicon glyphicon-arrow-left"></i>Summary Graphs</a></li>
				
			</ul>
		
		</div>
		
		<a href="{{ settings.BASE_URL }}sites"><div class="col-lg-1 back_to_site_right">Back to Map</div></a>
		
	</div>



	<div id="plotToggleTree" class="col-lg-3 report_filter col-md-3 col-sm-3 col-xs-3"></div>

	<div class="col-lg-9 full_report_graphs col-md-9 col-sm-9 col-xs-9">
	
		<div id="plotsWrapper" class="col-lg-12 wrapper col-md-12 col-sm-12 col-xs-12">
			<div id="instructions" class="row full_report_instructions jumbotron">
			    <div class="col-xs-2">
			     <i class="glyphicon glyphicon-arrow-left"></i>
			    </div>
			    <div class="col-xs-10">
			     <h2>Select one or more constituents at the left to view graphs of the data</h2>
			    </div>
				
			</div>
		
			</div><!--wrapper-->
		<div class="row">
		  <div id="timeSlider" class="col-lg-12 slider col-md-12 col-sm-12 col-xs-12">
		  </div>
		</div>
	
	</div>
		
</div><!--summary_info-->

{% endblock %}
