{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}


<div class="row summary_info">
	
	<div class="col-lg-12 full_site col-md-12 col-sm-12 col-xs-12">
		<h2>Potomac River at Chain Bridge, Washington DC-Station 01646580</h2>
		<h3>(Streamflow Station - 01646500)</h3>
	</div>
	
	<div class="col-lg-2 report_filter col-md-2 col-sm-2 col-xs-2"></div>
	
	<div class="col-lg-10 full_report_graphs col-md-10 col-sm-10 col-xs-10">
	
		<div class=" col-lg-12 wrapper col-md-12 col-sm-12 col-xs-12">
	
				<div class="col-lg-12 data col-md-12 col-sm-12 col-xs-12">
				
					<img src="{% static 'nar_ui/images/annual_flow.jpg' %}" class="img-responsive"  alt="annual flow graph"/>
				
				</div>
				
				<div class="col-lg-12 data col-md-12 col-sm-12 col-xs-12">
				
					<img src="{% static 'nar_ui/images/mean_annual.jpg' %}" class="img-responsive"  alt="mean annual graph"/>
				
				</div>
				
				<div class="col-lg-12 data last col-md-12 col-sm-12 col-xs-12">
				
					<img src="{% static 'nar_ui/images/annual_suspended.jpg' %}" class="img-responsive"  alt="annual suspended graph"/>
				
				</div>
			
			</div><!--wrapper-->
		
		<div class="col-lg-12 slider col-md-12 col-sm-12 col-xs-12"></div>
	
	</div>
		
</div><!--summary_info-->







{% endblock %}
