<!doctype html>
{% load static from staticfiles %}
<html>
<head>
{% load compress %}
<meta charset="UTF-8">
<title>{% block title %}NAWQA Annual Reports{% endblock %}</title>
<meta name="description" content="{% block page_description %}{% endblock %}" />
<link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,700' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>


<!-- this is an example of loading a non-less stylesheet-->
	<link rel="stylesheet" href="{% static 'nar_ui/bootstrap/css/bootstrap.css' %}"/>
	{% compress css %}
		<link rel="stylesheet" type="text/less" media="all" href="{% static 'nar_ui/common.less' %}"/>
		<link rel="stylesheet" type="text/less" media="all" href="{% static 'nar_ui/nar.less' %}"/>

	{% endcompress %}

<!-- <script type="text/javascript" src="js/jquery.js"></script>

<script type="text/javascript" src="js/bootstrap.js"></script>
-->
</head>

<body>

<div class="container">

<header class="row">

	<div class="col-lg-2 logo">
    
    	<a href="http://www.usgs.gov/" target="_blank">
    		<img src="images/usgslogo.jpg" class="img-responsive" alt="usgs logo"/>
    	</a>
        
    </div><!--logo-->
    
    <div class="col-lg-9 banner">
    
    	<img src="images/banner.png" class="img-responsive"  alt="banner picture"/>
    
    </div><!--banner-->
    
    <div class="col-lg-1 header_nav">
    
    	<ul>
        	<a href="http://www.usgs.gov/" target="_blank">
            	<li>USGS Home</li>
            </a>
            
            <a href="http://answers.usgs.gov/" target="_blank">		
            	<li>Contact USGS</li>
            </a>
            
             <a href="http://search.usgs.gov/" target="_blank">
            <li>Search USGS</li>
            </a>
        </ul>
    
    </div><!--header_nav-->

</header><!--header-->

<div class="row title_area">

	<div class="col-lg-6 title">
    
    	<a href="index.html"><h4>NAWQA Annual Reporting</h4></a>
    
    </div><!--title-->
    
    <div class="col-lg-6 buttons">
    	
        <ul>
            <a href="https://water.usgs.gov/nawqa/" target="_blank">
            	<li>NAWQA Home</li>
            </a>
            
            <a href="https://water.usgs.gov/nasqan/" target="_blank">
            <li>NASQAN Home</li>
            </a>
        </ul>
    
    </div><!--buttons-->

</div><!--title_area-->


<div class="row content">

	<div class="col-lg-3 side_nav">
    
    	<div class="col-lg-12 top_nav">
        
        	<div class="col-lg-12 stripe">
            
            	<h3>Summary Reports</h3>
            
            </div><!--stripe-->
            
            <div class="accordion" id="accordion2">
            
            	<div class="accordion-group">
                
                 <div class="accordion-heading">
                 
                 	<a class="accordion-toggle" data-toggle="collapse" data-parent=			                 	"#accordion2" href="#collapseOne">
                    
                    National
                    
                    </a>
                 
                 </div><!--accordion-heading-->
                 
                 <div id="collapseOne" class="accordion-body collapse in">
                 
                 	 <div class="accordion-inner">
                     
                     <ul>
                     
                     	<li><a href="#">Pesticides in Agriculture and Urban Streams</a></li>
                       <li><a href="#">Nitrate in Coastal Rivers</a></li>
                       <li><a href="#">Suspend Sediment</a></li>
                       <li><a href="#">Ecology</a></li>
                     
                     </ul>
                     
                     </div><!--accordion-inner-->
                 
                 </div><!--collapseOne-->
                
                </div><!--accordion-group-->
                
                <div class="accordion-group">
                
    				<div class="accordion-heading">
                    
      					<a class="accordion-toggle" data-toggle="collapse" data-parent=				                        "#accordion2" href="#collapseTwo">
                        
        					Mississippi River Basin
      						
                         </a>
    
    				</div><!--accordion-heading-->
                
    			<div id="collapseTwo" class="accordion-body collapse in">
                
      				<div class="accordion-inner">
                    
        				<ul>
                     
                     	<li><a href="#">Nitrogen</a></li>
                       <li><a href="#">Phosphorus</a></li>
                       
                     
                     </ul>
                        
      				</div><!--accordion-inner-->
                
    			</div><!--collapseTwo-->
                
  				</div><!--accordion-group-->
                
                <div class="accordion-group no_border">
                
    				<div class="accordion-heading">
                    
      					<a class="accordion-toggle" data-toggle="collapse" data-parent=				                        "#accordion2" href="#collapseThree">
                        
        					Site
      						
                         </a>
    
    				</div><!--accordion-heading-->
                
    			<div id="collapseThree" class="accordion-body collapse in">
                
      				<div class="accordion-inner">
                    
        				<ul>
                     
                     	<li><a href="#">Urban</a></li>
                       <li><a href="#">Agriculture</a></li>
                       <li><a href="#">Reference</a></li>
                       <li><a href="#">Inland Rivers</a></li>
                       <li class="last"><a href="#">Coastal Rivers</a></li>
                       
                     
                     </ul>
                        
      				</div><!--accordion-inner-->
                
    			</div><!--collapseTwo-->
                
  				</div><!--accordion-group-->
            
            </div><!--accordion-->
    
        
        </div><!--top_nav-->
        
        <div class="col-lg-12 bottom_nav">
        
        	<div class="col-lg-12 stripe">
            
            	<h3>Site Information</h3>
            
            </div><!--stripe-->
            
             <div class="accordion" id="accordion2">
            
            	<div class="accordion-group">
                
                 <div class="accordion-heading">
                 
                 	<a class="accordion-toggle" data-toggle="collapse" data-parent=			                 	"#accordion2" href="#collapseFour">
                    
                    Objectives
                    
                    </a>
                 
                 </div><!--accordion-heading-->
                 
                 <div id="collapseFour" class="accordion-body collapse in">
                 
                 	 <div class="accordion-inner">
                     
                     <ul>
                     
                     	<li><a href="#">National Water Quality Assessment</a></li>
                       <li><a href="#">National Stream Quality Accounting</a></li>
                       <li><a href="#">National Monitoring Network</a></li>
                     
                     </ul>
                     
                     </div><!--accordion-inner-->
                 
                 </div><!--collapseOne-->
                
                </div><!--accordion-group-->
                
              
               
              <div class="accordion-group">
                
    				<div class="accordion-heading">
                    
      					<a class="accordion-toggle" data-toggle="collapse" data-parent=				                        "#accordion2" href="#collapseFive">
                        
        					Constituents Measured
      						
                         </a>
    
    				</div><!--accordion-heading-->
                
    			<div id="collapseFive" class="accordion-body collapse in">
                
      				<div class="accordion-inner">
                    
        				<ul>
                     
                     	<li><a href="#">Nutrients</a></li>
                       <li><a href="#">Pesticides</a></li>
                       <li><a href="#">Sediments</a></li>
                       <li><a href="#">Ecology</a></li>
                       
                     </ul>
                        
      				</div><!--accordion-inner-->
                
    			</div><!--collapseTwo-->
                
  				</div><!--accordion-group-->
                
                <div class="accordion-group no_border">
                
    				<div class="accordion-heading">
                    
      					<a class="accordion-toggle" data-toggle="collapse" data-parent=				                        "#accordion2" href="#collapseSix">
                        
        					Methods
      						
                         </a>
    
    				</div><!--accordion-heading-->
                
    			<div id="collapseSix" class="accordion-body collapse in">
                
      				<div class="accordion-inner">
                    
        			 <ul>
                     
                     	<li><a href="#">Network Design</a></li>
                       <li><a href="#">Field Sampling</a></li>
                       <li class="last"><a href="#">Laboratory</a></li>
                       
                     </ul>
                        
      				</div><!--accordion-inner-->
                
    			</div><!--collapseTwo-->
                
  				</div><!--accordion-group-->
                
           </div><!--accordion-->
        
        </div><!--bottom_nav-->
       
    	</div><!--side_nav-->
    
    	<div class="col-lg-8 map"></div><!--map-->
    

</div><!--content-->

<footer class="row">
	
    <div class="col-lg-12 footer_top">
    
    	<ul>
        
        	<li><a href="http://www.usgs.gov/laws/accessibility.html" target="_blank">Accessibility</a></li>
            <li><a href="http://www.usgs.gov/foia/" target="_blank">FOIA</a></li>
            <li><a href="http://www.usgs.gov/laws/privacy.html" target="_blank">Privacy</a></li>
            <li><a href="http://www.usgs.gov/laws/policies_notices.html" target="_blank">Policies and Notices</a></li>
        
        </ul>
    
    </div>
    
    <div class="col-lg-12 footer_bottom">
    
    	<p class="first"><a href="http://www.doi.gov/index.cfm" target="_blank">U.S Department of the Interior</a> | <a href="http://www.usgs.gov/" target="_blank">U.S Geological Survey</a></p>
        <p>URL:https//naqwaannualreports.gov/index.html</p>
        <p>Contact Information: gs-w_nawq_whq@usgs.gov</p>
        <p>Page last modified: 03/05/2014</p>
        
        <div id="pic_links">
        
        	<a href="http://www.usa.gov/" target="_blank"><img src="images/usa_gov.png" alt="usa.gov pic"/></a>
            
            <a href="http://volunteer.gov/" target="_blank"><img src="images/take_pride.png" alt="usa.gov pic"/></a>
        
        </div>
    
    </div>

</footer>



</div><!--container-->

</body>
</html>
