{% extends "base.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block content %}

<div class=" row holder">

	<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 tagline">
	
		<p>Tracking Water-Quality in Streams and Rivers Across the Nation</p>
	
	</div>
	
	<div class="center">
	
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 home_icon_holder">
	
		<h4>Streams and Rivers Across the US </h4>
		
		<div class="inside">
		
		<img src="{% static 'nar_ui/images/sites.jpg' %}" class="img-responsive" alt="sites photo"/>
		
		</div>
	
	</div><!--streams-->
	
	
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 home_icon_holder">
	
		<h4>Rivers Draining to Estuaries</h4>
		
		<div class="inside">
		
			<img src="{% static 'nar_ui/images/coastalrivers.jpg' %}" class="img-responsive" alt="coastal rivers photo"/>
		
		</div>
	
	</div><!--coastalriver-->
	
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 home_icon_holder last">
	
		<h4>Mississippi River Basin</h4>
		
		<div class="inside">
		
			<img src="{% static 'nar_ui/images/mrb.png' %}" class="img-responsive" alt="mississippi river basin photo"/>
		
		</div>
	
	</div><!--coastalriver-->
	
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 highlight">
	
		<h3>2013 Highlight</h3>
		
		<p>Mauris in volutpat felis. Sed at odio nulla. Vivamus vitae libero condimentum quam elementum commodo eu vel arcu. Nam adipiscing vehicula mi, eget mattis nisi porta eget. Sed porttitor dui suscipit leo cursus cursus. Morbi a molestie diam, sit amet dictum lorem. Curabitur scelerisque ultrices arcu a malesuada. Morbi nulla velit, viverra id lobortis id, imperdiet vitae urna. Cras est tellus, ultrices eu erat id, blandit auctor eros. Nulla eu massa nec massa tincidunt faucibus. Proin molestie magna non ligula dignissim rutrum mattis at justo. Donec venenatis lorem sapien, nec molestie massa adipiscing ac. Praesent blandit enim in hendrerit viverra. Proin consequat interdum nulla, nec tempor libero pharetra quis.</p>
	
	</div>
	
	</div><!--center-->
	
	



</div><!--holder-->

{% endblock %}