{% extends "base.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block content %}

<div class=" row mississippi_holder">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mississippi_title">
	
		<h3>Nutrient Loads in the Mississippi-Atchafalaya River Basin</h3>
		
		<h6>The width of each river shows its relative contribution to nutrient loading 
		
		<a href="#">( Show percentage contributions 
		
		<i class="icon-large">
		
		<img src="{% static 'nar_ui/images/pie-chart-icon.png' %}" alt="piechart"/>
		
		</i> )
		
		</a>
		
		</h6>

		<button id="help">Help?</button>
		
		<button id="toggle">Toggle Sites <i class="glyphicon glyphicon-play"></i></button>

	</div><!--mississippi_title-->
	
	<div class="row mississippi_filters">
	
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left_filter">
		
			<select name="load">
			
				<option>--Select Load Type--</option>
			
			</select>
			
			<select name="chemical">
			
				<option>--Select Nutrient Type--</option>
			
			</select>
			
			<select  class="last" name="year">
			
				<option>--Select Year Range--</option>
			
			</select>
		
		</div>
		
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right_filter">
		
			<select name="load">
			
				<option>--Select Load Type--</option>
			
			</select>
			
			<select name="chemical">
			
				<option>--Select Nutrient Type--</option>
			
			</select>
			
			<select  class="last" name="year">
			
				<option>--Select Year Range--</option>
			
			</select>
		
		</div>
	
	</div>
	
	<div class="row mississippi_maps">
	
		<div id="mississippi_info">
		
			Hover over (or click) on a <i class="glyphicon glyphicon-play"></i> to get site information
		
		</div><!--mississippi_info-->
	
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="left-map"></div>
		
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="right-map"></div>
		
		<div id="download_holder">
		
			<button id="download">Download Data</button>
		
		</div>
	
	</div><!--mississippi_maps-->
	
</div><!--mississippi_holder-->
{% compress js %}
<script type="text/javascript" src="{% static 'nar_ui/js_lib/OpenLayers/OpenLayers.debug.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/mapCommons.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/mississippi/map.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/mississippi/main.js' %}"></script>
{% endcompress %}

{% endblock %}