{% extends "base.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block content %}
{% block style %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'nar_ui/js_lib/jquery-ui/css/ui-lightness/jquery-ui.min.css' %}"/>
{% endblock %}

<div class=" row mississippi_holder">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mississippi_title">
	
		<h3>Mississippi River Basin Summary - Relative Nutrient Loading from Tributaries</h3>
		
		<a href="{% url 'help' %}"><button id="help">Help?</button></a>
		
		<button id="toggle" >Toggle Sites <i class="glyphicon glyphicon-play"></i></button>

	</div><!--mississippi_title-->
	
	<div class="row mississippi_filters">
	
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left_filter">
		
			<select name="load">
			
				<option value="">--Select Load Type--</option>
				<option value="wy">Annual Load</option>
				<option value="may">May Load</option>							
			</select>
			
			<select name="chemical">
			
				<option value="">--Select Nutrient Type--</option>
				<option value="tn">Total Nitrogen</option>
				<option value="no23">Nitrate</option>
				<option value="tp">Total Phosphorus</option>
			
			
			</select>
			
			<select  class="last" name="year">
			
				<option value="">--Select Year or Range--</option>
				{% for year in year_pick_list %}
					<option value="{{ year.value }}" data-is-range="{{ year.is_range }}">{{ year.text }}</option>
				{% endfor %}
			
			</select>
		
		</div>
		
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right_filter">
		
			<select name="load">
			
				<option value="">--Select Load Type--</option>
				<option value="wy">Annual Load</option>
				<option value="may">May Load</option>	
				
			</select>
			
			<select name="chemical">
			
				<option value="">--Select Nutrient Type--</option>
				<option value="tn">Total Nitrogen</option>
				<option value="no23">Nitrate</option>
				<option value="tp">Total Phosphorus</option>
				
			
			</select>
			
			<select  class="last" name="year">
			
				<option value="">--Select Year or Range--</option>
				{% for year in year_pick_list %}
					<option value="{{ year.value }}" data-is-range="{{ year.is_range }}">{{ year.text }}</option>
				{% endfor %}
				
			</select>
		
		</div>
	
	</div>
	
	<div class="row mississippi_maps">
	
		<div id="mississippi_info">
		
			Hover over (or click) on a <i class="glyphicon glyphicon-play"></i> for site information
		
		</div><!--mississippi_info-->
	
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="left-map"></div>
		
		
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="right-map"></div>
		<div class="col-sm-12" id="auxillary-info">
		  <div class="col-xs-5" id="left-pie-chart-container" style="color"></div>
		  <div class="col-xs-2">
			  <div id="map-legend-container">
			     <div id="map-legend-label">
			      <span>Nutrient Loading&nbsp;</span>
			      <a href="#" data-toggle="popover" 
			       data-content="The width of each river in the maps above shows its relative amount of constituent load delivered from that river to the Gulf of Mexico. The pie charts illustrate nutrient contributions for the major sub-basins within the Mississippi/Atchafalaya River Basin.">?</a>
                 </div>
			      <img data-rule="na" />
		          <br />
		          <img data-rule="minimum" />
		          <br />
			      <img data-rule="middle" />
		          <br />
		          <img data-rule="maximum" />
		    </div>
		</div>
		<div class="col-xs-5" id="right-pie-chart-container"></div>
		</div>
	
	</div><!--mississippi_maps-->
	
</div><!--mississippi_holder-->
{% compress js %}
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.resize.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.categories.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.pie.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot_plugins/jquery.flot.axislabels.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot_plugins/jquery.flot.tooltip.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot_plugins/jquery.flot.dashes.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.time.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.selection.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.symbol.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/shim.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot_plugins/jquery.flot.canvasLegend.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot_plugins/jquery.flot.canvasLegend.layouts.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot_plugins/jquery.flot.canvasLegend.renderersAndSizers.js' %}"></script>
        
<script type="text/javascript" src="{% static 'nar_ui/js_lib/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/OpenLayers/OpenLayers.debug.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/commons/OpenLayersIE11Fix.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/TinyColor/tinycolor.js' %}"></script>

<script type="text/javascript" src="{% static 'nar_ui/Constituents.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/Definitions.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/commons/sitePopup.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/commons/SiteIdentificationControl.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/commons/Subject.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/commons/WaterYearUtils.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/mapCommons.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/plots/PlotUtils.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/plots/ConstituentBarChart.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/plots/LoadPlot.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/time_series/TimeSeries.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/time_series/TimeRange.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/time_series/TimeSeriesCollection.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/time_series/TimeSeriesVisualization.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/time_series/TimeSeriesVisualizationRegistry.js' %}"></script>

<script type="text/javascript" src="{% static 'nar_ui/mississippi/FiltersSubject.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/mississippi/ContributionDisplay.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/mississippi/GraphPopup.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/mississippi/map.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/mississippi/main.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/mississippi/LoadLayer.js' %}"></script>

<script type="text/javascript">
	nar.loadDefinitions(CONFIG.definitionsUrl);
</script>
	
{% endcompress %}



{% endblock %}