{% extends "base.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block scripts %}

    {{ block.super }}
    <script type="text/javascript">
        CONFIG.region = "{{ request.GET.region }}".toLowerCase();
    </script>
{% endblock %}

{% block content %}
<div class=" row region_coastal_holder">

    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 coastal_title">
    
        <h3>Nitrate Loads and Yields in Coastal Rivers</h3>
                    
        <a href="{% url 'download' %}"><button id="coastalDownload" class="additional coastalmore">Download Data</button></a>
        <a href="{% url 'coastal' %}"><button class="additional back">Back to Map</button></a>
    
    </div><!--coastal_title-->
    
    <div id="region_coastal_content" class="row">
        <div class="col-sm-6" id="region_coast_map_div">
            <div id="region_coast_map"></div>            
        </div>
        <div class="col-sm-6" id="region_coast_graphs_div"></div>
    </div>
       
</div><!--region_coastal_holder-->


<script type="text/javascript" src="{% static 'nar_ui/js_lib/OpenLayers/OpenLayers.debug.js' %}"></script>
{% compress js %}
<script type="text/javascript" src="{% static 'nar_ui/mapCommons.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/coastal_region/main.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/coastal_region/map.js' %}"></script>
{% endcompress %}
{% endblock %}
        
    