{% extends "base.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block style %}
    {{ block.super }}
    
    <link rel="stylesheet" type="text/css" href="{% static 'nar_ui/js_lib/jqplot/src/jquery.jqplot.css' %}" />
{% endblock %}

{% block scripts %}

    {{ block.super }}
    <script type="text/javascript">
        CONFIG.region = "{{ request.GET.region }}".toLowerCase();
    </script>
{% endblock %}

{% block content %}
<div class=" row region_coastal_holder">

    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 coastal_title">
    
        <h3>Nitrate Loads and Yields in Coastal Rivers</h3>
                    
        <a href="{% url 'download' %}"><button id="coastalDownload" class="additional coastalmore">Download Data</button></a>
        <a href="{% url 'coastal' %}"><button class="additional back">Back to Map</button></a>
    
    </div><!--coastal_title-->
    
    <div id="region_coastal_content" class="row">
        <div class="col-sm-6" id="region_coast_map_div">
            <div id="region_coast_map"></div>
            <div id="region_coast_ak_inset_map_div"><div id="region_coast_ak_inset_map"></div></div>            
        </div>
        <div class="col-sm-6" id="region_coast_graphs_div">
            <div id="load_chart_div" class="row col-sm-12 region_graphs">
                <div id="load_plot_div" ></div>
            </div>
            <div id="yield_chart_div" class="row col-sm-12 region_graphs">
                <div id="yield_plot_div"></div>
            </div>
        </div>
    </div>
       
</div><!--region_coastal_holder-->


<script type="text/javascript" src="{% static 'nar_ui/js_lib/OpenLayers/OpenLayers.debug.js' %}"></script>
{% compress js %}
<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/jquery.jqplot.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/plugins/jqplot.barRenderer.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/plugins/jqplot.categoryAxisRenderer.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/jqplot.axisLabelRenderer.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/plugins/jqplot.canvasTextRenderer.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/plugins/jqplot.canvasAxisLabelRenderer.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/plugins/jqplot.highlighter.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/plugins/jqplot.pointLabels.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/mapCommons.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/commons/WaterYearUtils.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/time_series/TimeRange.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/time_series/TimeSeries.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/time_series/TimeSeriesCollection.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/plots/PlotUtils.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/Constituents.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/plots/coastalBasinPlot.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/coastal_region/map.js' %}"></script>
<script type="text/javascript" src="{% static 'nar_ui/coastal_region/main.js' %}"></script>
{% endcompress %}
{% endblock %}
        
    