{% extends "base.html" %}

{% load static from staticfiles %}
{% load compress %}

{% block style %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'nar_ui/js_lib/jquery-ui/css/ui-lightness/jquery-ui.min.css' %}"/>
{% endblock %}

{% block content %}

<script>

//map view to site view

	$(document).ready(function(){
		$('.map_view').click(function(){
			$('.map').delay(500).fadeIn(500);
			$('.sites').fadeOut(500);
		}); 
		$('.site_view').click(function(){
			$('.sites').delay(500).fadeIn(500);
			$('.map').fadeOut(500);
		});
		nar.siteFilter.loadSitesToDom();
		nar.siteFilter.addChangeHandler(function(){
			nar.siteFilter.clearRows();
			nar.siteFilter.loadSitesToDom();
		});
		
//site list click funtion
  
      $(".clickableRow").click(function() {
            window.document.location = $(this).attr("href");
      });

//check_filter "click" checks input checkbox

$(document).on("click", ".check_filter", function (event) {
    var target = $(event.target);
    if (target.is('input:checkbox')) {
        return;
    }
    var checkbox = $(this).find("input[type='checkbox']");
    checkbox.prop("checked", !checkbox.is(':checked'));
    checkbox.change();
});

	});

</script>


<div class="row content">
   
    	<div class="col-lg-9 site_map col-md-9 col-sm-9 col-xs-9">
    	
    		<div id="siteMap" class="col-lg-12 map col-md-12 col-sm-12 col-xs-12"></div><!--map-->
    		
    		<div class="col-lg-12 solution col-md-12 col-sm-12 col-xs-12">
    	
    		<div class="col-lg-12 sites col-md-12 col-sm-12 col-xs-12">
    		
    			<table class="site_table">
                
                	<th class="first_header">Station</th> <th class="name">Station Name</th> <th class="type">Site Type</th>
                	
                	<!-- This is populated by nar.siteFilter.loadSitesToDom() -->
                
                </table>
    		
    		
    		</div><!--sites-->
    		
    		</div><!--solution-->
    	
    	</div><!--site_map-->
    	
    	<div class="col-lg-3 filter col-md-3 col-sm-3 col-xs-3">
    	
    		<div class="col-lg-12 statement">
             	
                <p>Hover over (or click) a <i class="glyphicon glyphicon-play"></i> to get site information

</p>
             </div>
    	
    		<button class="map_view">Map View</button>
            
            <button class="site_view">Site List</button>
            
            <form>
            	<h4>Filter by Site Type:</h4>
            	
            	<div class="check_filter">
            	<input type="checkbox" name="siteFilter" value="Urban"/><p>Urban Streams</p>
            	</div>
            	
            	<div class="check_filter">
            	<input type="checkbox" name="siteFilter" value="Agriculture"/><p>Agriculture Streams</p>
            	</div>
            	
            	<div class="check_filter">
            	<input type="checkbox" name="siteFilter" value="Reference"/><p>Reference Streams</p>
            	</div>
            	
            	<div class="check_filter">
            	<input type="checkbox" name="siteFilter" value="Large Inland Rivers"/><p>Inland Rivers</p>
            	</div>
            	
            	<div class="check_filter">
            	<input type="checkbox" name="siteFilter" value="Coastal Rivers"/><p>Coastal Rivers</p>
            	</div>
            	
            </form>
            
            <button id="siteDownload">Download Data</button>
    	
    	</div><!--filter-->
    

</div><!--content-->

{% compress js %}
	<script type="text/javascript" src="{% static 'nar_ui/js_lib/jquery-ui/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'nar_ui/js_lib/OpenLayers/OpenLayers.debug.js' %}"></script>
	<script type="text/javascript" src="{% static 'nar_ui/mapCommons.js' %}"></script>
	<script type="text/javascript" src="{% static 'nar_ui/siteFilter.js' %}"></script>
	<script type="text/javascript" src="{% static 'nar_ui/sitePopup.js' %}"></script>
	<script type="text/javascript">
		//point OL to the correct image path so that it loads control images properly
		OpenLayers.ImgPath = '{% static 'nar_ui/js_lib/OpenLayers/img/' %}';
	</script>
	<script type="text/javascript" src="{% static 'nar_ui/SiteIdentificationControl.js' %}"></script>
	<script type="text/javascript" src="{% static 'nar_ui/inset.js' %}"></script>
	<script type="text/javascript" src="{% static 'nar_ui/map.js' %}"></script>
{% endcompress %}

{% endblock %}






