{% extends "base.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block style %}
	{{ block.super }}
	
	<style type="text/css">
		.graphContainer {
			padding:5px;
			margin:0;
			margin-right:10px;
			background:none;
			height:100%;
		}
		.currentYearComparisonPlot {
			min-height: 400px;
		}
		.currentYearComparisonLegend {
			margin-left: 10%	
		}
		
		.currentYearComparisonLegend{ 
			background:none;
		}
		.currentYearComparisonLegend table td{
			font-size:1em;
		}										
		.currentYearComparisonTitle {
			margin-top: 10%;
			height: 40px;
			padding-left: 22%;
			font-size:.9em;
			font-weight: bold;
			text-align:center;
		}
		.unitLabel {
			border-top: 2px dotted #d5d5d5;
			text-align:center;
			height: 60px;
			font-size: 0.8em;
		}
		.leftBorder {
			border-left: 2px dotted #d5d5d5;
		}
		.topBorder {
			border-top: 2px dotted #d5d5d5;
		}
		.comparisonLegend {
	      padding-left:22%;
	      width: 100%;
	      margin-top: -10px;
		}
		.comparisonLegend span{
		  font-size:.9em;
		    width:50%;
		    display: inline-block;
		}
		.currentYearComparisonYearLegend {
		    text-align: right;	    
		    padding-right: 10%;		    
		}
		.currentYearComparisonAverageLegend{
            text-align: left;
            padding-left: 10%;
		}
		.exceedancePlot{
		   min-height: 400px;
		   margin-right: 10%;
		   margin-left: 10%;
		   width: 80%;
           text-align: left;
		}
		.exceedancePlot .jqplot-yaxis-tick{
		  left: -10%;
		}
		.exceedancePlot .jqplot-xaxis-label {
		  text-align: center;
		}
		.jqplot-title {
		  top: 100%;
		}
	</style>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
			var PARAMS = {
				'siteId' : '{{ site_id|escapejs}}'
			};
	</script>
	{% compress js %}
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.resize.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot/jquery.flot.categories.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot_plugins/jquery.flot.axislabels.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/flot_plugins/jquery.flot.tooltip.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/jquery.jqplot.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/plugins/jqplot.barRenderer.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/plugins/jqplot.categoryAxisRenderer.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/plugins/jqplot.pointLabels.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/plugins/jqplot.canvasTextRenderer.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/jqplot/src/plugins/jqplot.canvasAxisTickRenderer.js' %}"></script>
		
		<script type="text/javascript" src="{% static 'nar_ui/Constituents.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/SiteInfo.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/commons/InformativePopup.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/summary_report/ConstituentCurrentYearComparisonPlot.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/summary_report/ExceedancePlot.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/summary_report/main.js' %}"></script>
	{% endcompress %}
	<script type="text/javascript">
		nar.loadSiteHelpInfo(CONFIG.siteInfoUrl);
	</script>
		
{% endblock %}


{% block content %}



<div class="row summary_info">

	<div class="col-lg-12 site col-md-12 col-sm-12 col-xs-12">
		<h2>{{ site_name }}</h2>
		<h3>Station ID: {{ site_id }}</h3>
		<h4>
			<i>Summary of Water-Quality Conditions for 2014</i>
		</h4>

		<div class="col-lg-1 full_report col-md-1 col-sm-1 col-xs-1">

			<ul>
				<li><a href="full-report">Detailed Graphs<i class="glyphicon glyphicon-arrow-right"></i></a></li>

			</ul>

		</div>
		
		<a href="{{ settings.BASE_URL }}sites"><div class="col-lg-1 back_to_site">Back to Map</div></a>



	</div>





	<div class="col-lg-12 graphs col-md-12 col-sm-12 col-xs-12">
	
		
	
		<div class="col-lg-4 graphContainer stream col-sm-12 col-xs-12">
		
			<div class="row stream_row">
				<h3>Streamflow and Water Quality</h3>
			</div>
			
			<div class="row bar_row">
				<div id="barChart1"
					class="comparisonGraph col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>

				<div id="barChart2"
					class="leftBorder comparisonGraph col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>

				<div id="barChart3"
					class="comparisonGraph col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>

				<div id="barChart4"
					class="comparisonGraph col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
			</div>
			
			<div class="row">
				<div class="unitLabel col-lg-3 col-md-3 col-sm-3 col-xs-3">Million
					Acre-Feet</div>
				<div
					class="unitLabel leftBorder col-lg-9 col-md-9 col-sm-9 col-xs-9">Million
					Tons</div>
			</div>
			
		</div><!--streams-->

		<div class="col-lg-4 human col-sm-12 col-xs-12">
			<div class="row human_row">
				<h3>Comparison to Human-Health<br/><span id="link-hover-benchmark-human" class="link-popover-anchor">Benchmarks</span></h3>
			</div>
			<div class="row">
				<div id="humanHealthExceedances" class="exceedancePlot"></div>
			</div>
		</div><!--human-->
		<!-- May reappear in future versions ->
		<div class="col-lg-4 aquatic col-md-3 col-sm-12 col-xs-12">
			<div class="row aquatic_row">
				<h3>Comparisons to <span id="link-hover-benchmark-aquatic" class="link-popover-anchor">Benchmarks</span><br />Protective of Aquatic Life</h3>
				<div id="aquaticHealthExceedances" class="exceedancePlot"></div>
			</div>

		</div><!--aquatic-->

	</div>
	
	<div id="downloadButton">
		
			<button>Download Data</button>
		
		</div>

</div>


{% endblock %}
