{% extends "base.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block style %}
	{{ block.super }}
	
	<style type="text/css">
		.graphContainer {
			padding:5px;
			margin:0;
			margin-right:10px;
			background:none;
			height:100%;
		}
		.currentYearComparisonPlot {
			min-height: 400px;
		}
		.currentYearComparisonLegend {
			margin-left: 10%	
		}
		
		.currentYearComparisonLegend{ 
			background:none;
		}
		.currentYearComparisonLegend table td{
			font-size:1em;
		}										
		.currentYearComparisonTitle {
			height: 40px;
			padding-left: 22%;
			font-size:.9em;
			text-align:center;
		}
		.unitLabel {
			border-top: 2px solid black;
			text-align:center;
			height: 50px;
		}
		.leftBorder {
			border-left: 2px solid black;
		}
		.topBorder {
			border-top: 2px solid black;
		}
	</style>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	{% compress js %}
		<script type="text/javascript" src="{% static 'nar_ui/flot/jquery.flot.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/flot/jquery.flot.resize.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/flot/jquery.flot.categories.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/flot_plugins/jquery.flot.axislabels.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/flot_plugins/jquery.flot.tooltip.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/constituent_current_year_comparison_plot.js' %}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
	
				var nitrateSeries = {
					constituentName: 'Total Phosphorous',
					constituentUnit: 'Million Tons',
					yearValue: 12,
					yearColor: 'rgb(0,255,0)',
					averageName: 'Average 1991-2013',
					averageValue: 10
				};
			
					
				var nitrateGraph = ConstituentCurrentYearComparisonPlot('#barChart2', nitrateSeries);
				
				var phosphorousSeries = {
					constituentName: 'Total Nitrate',
					constituentUnit: 'Million Tons',
					yearValue: 100,
					yearColor: 'rgb(255,0,0)',
					averageName: 'Average 1985-2013',
					averageValue: 153
				};
			
					
				var phosphorousGraph = ConstituentCurrentYearComparisonPlot('#barChart3', phosphorousSeries);
		
				
				var streamflowSeries = {
					constituentName: 'Streamflow',
					constituentUnit: 'Million acre-feet',
					yearValue: 1.7,
					yearColor: 'rgb(0,0,255)',
					averageName: 'Average 1999-2013',
					averageValue: 2.4
				};
			
				var streamflowGraph = ConstituentCurrentYearComparisonPlot('#barChart1', streamflowSeries);
								
				var streamflowSeries = {
					constituentName: 'Suspended Sediment',
					constituentUnit: 'Million Tons',
					yearValue: 300,
					yearColor: '#CC6600',
					averageName: 'Average 1990-2013',
					averageValue: 100
				};
			
				var streamflowGraph = ConstituentCurrentYearComparisonPlot('#barChart4', streamflowSeries);
				
			});
		</script>
	{% endcompress %}
{% endblock %}


{% block content %}



<div class="row summary_info">
	
	<div class="col-lg-12 site col-md-12 col-sm-12 col-xs-12">
		<h2>{{ site_name }}</h2>
		<h3>Station ID : {{ site_id }}</h3>
		<h4><i>Highlighted Water-Quality Constituents for 2014</i></h4>
		
		<div class="col-lg-1 full_report col-md-1 col-sm-1 col-xs-1">
		
			<ul>
				
				<li> <a href="full-report">Full Report</a>
				
					<ul>
					
						<li><a href="full-report">Water Quality</a> </li>
						<li><a href="full-report">Streamflow</a></li>
						<li><a href="full-report">Watershed</a></li>
					
					</ul>
				
				</li>
				<img src="{% static 'nar_ui/images/arrow.png' %}" alt="arrow"/>
			</ul>
		
		</div>
		
		
	
	</div>
		
		
		
			
	
	<div class="col-lg-12 graphs col-md-12 col-sm-12 col-xs-12">
	
		<div class="col-lg-4 graphContainer col-md-3 col-sm-12 col-xs-12">
			<div class="row">
				<div id="barChart1" class="comparisonGraph col-lg-3 col-md-3 col-sm-3 col-xs-3" ></div>
				
				<div id="barChart2" class="leftBorder comparisonGraph col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
				
				<div id="barChart3" class="comparisonGraph col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
				
				<div id="barChart4" class="comparisonGraph col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
			</div>
			<div class="row">
				<div class="unitLabel col-lg-3 col-md-3 col-sm-3 col-xs-3">Million Acre-Feet</div>
				<div class="unitLabel leftBorder col-lg-9 col-md-9 col-sm-9 col-xs-9">Million Tons</div>
			</div>
		</div>
		
		<div class="col-lg-4 human col-md-3 col-sm-12 col-xs-12">
		
			<h3>Human-Health Benchmarks Exceedances</h3>
			
			<img src="{% static 'nar_ui/images/graph_02.png' %}" class="img-responsive" alt="graph_02"/>
			
			<h6>Percent of time with concentrations greater than the benchmark in water year 2012</h6>
		
		</div>
		
		<div class="col-lg-4 aquatic col-md-3 col-sm-12 col-xs-12">
		
			<h3>Aquatic-life Benchmark Exceedances</h3>
			
			<img src="{% static 'nar_ui/images/graph_03.png' %}" class="img-responsive" alt="graph_03"/>
			
			<h6>Percent of time with one or more exceedances in water year 2012</h6>
		
		</div>
	
	</div>

</div>


{% endblock %}