<!DOCTYPE html>
{% load static from staticfiles %}
<html>
<head>
	{% load compress %}
	<meta charset="utf-8">
	<title>{% block title %}NAWQA Annual Reports{% endblock %}</title>
 	<meta name="description" content="{% block page_description %}{% endblock %}" />
	<link rel="stylesheet" href="{% static 'nar_ui/bootstrap/css/bootstrap.css' %}"/>
	{% compress css %}
		// This is the nifty django-compressor way to compile your less files in css
		
		<link rel="stylesheet" type="text/less" media="all" href="{% static 'nar_ui/my.less' %}"/>
		
	{% endcompress %}
    {% block page_style %}{% endblock %}
	       
   {% block page_script %}{% endblock %}
	    </head>
</head>
<body>
	<div id="page-header">
		{% block page_header %}
		<h1>NAWQA ANNUAL REPORTS</h1>
		{% endblock %}
	</div>
	<div id="page-content">
		{% block content %}{% endblock %}
	</div>
	<div id="page-footer">
		{% block page_footer %}{% endblock %}
	</div> 
</body>
</html>