<!doctype html>
{% load static from staticfiles %}
<html>
<head>
{% load compress %}

<!-- ############### VIEWPORT META TAG ############### -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<!-- ################################################# -->

<meta charset="UTF-8">
<title>{% block title %}NAWQA Annual Reports{% endblock %}</title>
<meta name="description" content="{% block page_description %}{% endblock %}" />
{% block style %}
<link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,700' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>


<!-- this is an example of loading a non-less stylesheet-->
	<link rel="stylesheet" href="{% static 'nar_ui/js_lib/bootstrap/css/bootstrap.css' %}"/>
	<link rel="stylesheet" href="{% static 'nar_ui/js_lib/bootstrap/css/bootstrap.icon-large.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'nar_ui/select2.css' %}"/>
	<link rel="stylesheet" href="{% static 'nar_ui/select2-bootstrap.css' %}"/>
	{% compress css %}
		<link rel="stylesheet" type="text/less" media="all" href="{% static 'nar_ui/common.less' %}"/>
		<link rel="stylesheet" type="text/less" media="all" href="{% static 'nar_ui/nar.less' %}"/>
	{% endcompress %}
	
	<!--[if lt IE 9]>
<link href="{% static 'nar_ui/ie_fix.css' %} rel="stylesheet" type="text/css">
		<div id="block">
<h1>We apologize, but this site does not support Internet Explorer versions lower than 9.0</h1>
<p>Other supported browsers are Firefox, Chrome, and Safari.</p>
</div>
	<![endif]-->
	
{% endblock %}
{% block scripts %}
	{% compress js %}
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/bootstrap/js/bootstrap.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/sugar.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/js_lib/select2.js' %}"></script>
		<script type="text/javascript" src="{% static 'nar_ui/util.js' %}"></script>

	{% endcompress %}
	
	{# we will skip minification on the configuration script #}
	<script type="text/javascript">
		//global config object
		var CONFIG = {
			baseUrl : '{{ settings.BASE_URL|escapejs }}',
			staticUrl : '{{ STATIC_URL|escapejs }}',
			endpoint : {
				geoserver: 'http://' + '{{ settings.GEOSERVER_HOST_NAME|escapejs }}' + '{{ settings.GEOSERVER_PATH|escapejs}}',
				sos: 'http://' + '{{ settings.SOS_HOST_NAME|escapejs }}' + '{{ settings.SOS_PATH|escapejs}}'
			},
			definitionsUrl : "{% url 'helpcontent-definitions' %}",
			siteInfoUrl : "{% url 'helpcontent-site_info' %}"
		};
		
	</script>
	
		<script>

			$(function() {
			$('#show_hide').click( function() {
			  $('#header').toggle('5000');
			  $('#footer').toggle('5000', function(){
				if ($('#header').is(':visible')) {
				 $('#show_hide').val('Hide') 
				} else {
					$('#show_hide').val('Show') 
				  }
			    });
			  });
			});
	
	
		</script>
		


{% endblock %}

</head>

<body>

<div class="container">

<div id="alert" class="alert alert-danger fade in">
</div>

<header id="header" class="row">

	<div class="col-lg-2 logo col-md-2 col-sm-2 col-xs-2">
    
    	<a href="http://www.usgs.gov/" target="_blank">
    		<img src="{% static 'nar_ui/images/usgslogo.jpg' %}" class="img-responsive" alt="usgs logo"/>
    	</a>
        
    </div><!--logo-->
    
    <div class="col-lg-9 banner col-md-8 col-sm-8 col-xs-8">
    
    	<img src="{% static 'nar_ui/images/banner.png' %}" class="img-responsive"  alt="banner picture"/>
    
    </div><!--banner-->
    
    <div class="col-lg-1 header_nav col-md-1 col-sm-1 col-xs-1">
    
    	<ul>
        	<a href="http://www.usgs.gov/" target="_blank">
            	<li>USGS Home</li>
            </a>
            
            <a href="http://answers.usgs.gov/" target="_blank">		
            	<li>Contact USGS</li>
            </a>
            
             <a href="http://search.usgs.gov/" target="_blank">
            <li>Search USGS</li>
            </a>
        </ul>
    
    </div><!--header_nav-->

</header><!--header-->

<div class="row title_area">

	<div class="col-lg-6 title col-md-4 col-sm-4 col-xs-4">
    
    	<a href="{% url 'home' %}"><h4>Annual Water-Quality Reporting</h4></a>
    
    </div><!--title-->
    
   <div class="col-lg-6 buttons col-md-8 col-sm-8 col-xs-8">
    	
        <ul>
        
        	<li>Data and Findings
            
            	 <div class="menu-item">
      <h4><a href="{{ settings.BASE_URL }}sites">Streams and Rivers Across the U.S.</a></h4>
      
    </div>
    
                    
    <div class="menu-item">
      <h4><a href="{{ settings.BASE_URL }}coastal">Nitrate in Coastal Rivers</a></h4>
     
    </div>
                    
                   
                    
                     <div class="menu-item">
      <h4><a href="{{ settings.BASE_URL }}mississippi">Mississippi River Basin</a></h4>
      
    </div>
    
     <div class="menu-item">
      <h4><a href="{{ settings.BASE_URL }}download">Download Data</a></h4>
      
    </div>
                    
                    
                
                
            
            </li>
            
    <li>Network Information
            
      <div class="menu-item">
      <h4><a href="#">Objectives</a></h4>
      <ul>
        <li><a href="#"><strong>National Fixed Site Network</strong></a></li>
        <li><a href="#"><strong>Network Site List</strong></a></li>
      </ul>
    </div>
       
    <div class="menu-item">
      <h4><a href="#">Constituents Measured and Methods</a></h4>
      <ul id="constituents">
        <li><a href="#"><strong>Constituents Measured</strong></a></li>
        <li><a href="#"><strong>Methods</strong></a></li>
        <li class="indent"><a href="#">Sample Collection</a></li>
        <li class="indent"><a href="#">Laboratory</a></li>
        <li class="indent"><a href="#">Technical Information</a></li>
        <li><a href="#"><strong>Quality Control</strong></a></li>
        <li><a href="#"><strong>Definition of Terms</strong></a></li>
        <li><a href="#"><strong>Sample Collection Photos</strong></a></li>
      </ul>
    </div>
       
    <div class="menu-item">
      <h4><a href="#">Previous Network Information</a></h4>
      <ul id="previous">
        <li><a href="#"><strong>NAWQA</strong></a></li>
        <li class="indent"><a href="#">1991-2001</a></li>
        <li class="indent"><a href="#">2002-2012</a></li>
        <li><a href="#"><strong>NASQAN</strong></a></li>
        <li class="indent"><a href="#">1974-1995</a></li>
        <li class="indent"><a href="#">1996-2000</a></li>
        <li class="indent"><a href="#">2001-2007</a></li>
      </ul>
    </div>
                     
  </li>
            
            
            	<li class="small">About
            	
            	<div id="about_item" class="menu-item">
      			<h4><a href="{% url 'about' %}">About</a></h4>
      			<h4><a href="#">Contact & Citations</a></h4>
            	
            	</li></a>
          
       		</ul>
    
    </div><!--buttons-->
    

</div><!--title_area-->

<div class="row show">
	
	<div id="show_hide">Hide Header/Footer</div>

</div>



{% block content %}
{% endblock %}


<footer id="footer" class="row">
	
    <div class="col-lg-12 footer_top col-md-12 col-sm-12 col-xs-12">
    
    	<ul>
        
        	<li><a href="http://www.usgs.gov/laws/accessibility.html" target="_blank">Accessibility</a></li>
            <li><a href="http://www.usgs.gov/foia/" target="_blank">FOIA</a></li>
            <li><a href="http://www.usgs.gov/laws/privacy.html" target="_blank">Privacy</a></li>
            <li><a href="http://www.usgs.gov/laws/policies_notices.html" target="_blank">Policies and Notices</a></li>
        
        </ul>
    
    </div>
    
    <div class="col-lg-12 footer_bottom col-md-12 col-sm-12 col-xs-12">
    
    	<p class="first"><a href="http://www.doi.gov/index.cfm" target="_blank">U.S Department of the Interior</a> | <a href="http://www.usgs.gov/" target="_blank">U.S Geological Survey</a></p>
        <p>URL:https//naqwaannualreports.gov/index.html</p>
        <p>Contact Information: mwarren@usgs.gov</p>
        <p>Page last modified: 03/05/2014</p>
        
        <div id="pic_links">
        
        	<a href="http://www.usa.gov/" target="_blank"><img src="{% static 'nar_ui/images/usa_gov.png' %}" alt="usa.gov pic"/></a>
            
            <a href="http://volunteer.gov/" target="_blank"><img src="{% static 'nar_ui/images/take_pride.png' %}" alt="usa.gov pic"/></a>
        
        </div>
    
    </div>

</footer>

</div><!--container-->

</body>
</html>