
/**********************
       CONSTANTS
***********************/

@primaryColor:rgb(0,51,102);

@boxColor:#fff;

@titleColor:#fff;

@baseFontFamily:"Signika Negative";

@baseFontColor:@primaryColor;

@boxShadow:0 0 4px rgba(0,0,0,.2);

@baseFontWeightlight:300;

@baseFontWeightReg:400;

@baseFontWeightBold:700;

/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/



/**********************
         STYLES
***********************/
body{background:rgb(213,213,213);
	min-width:730px;
}

.container{background:none;
                min-height:400px;}
/*##########header##########*/               
header.row{background:#000;
            height:72px;
            margin-top:10px;}
            
.logo{background:aqua;
    height:72px;
    padding:0;
   width:178px;
    }
    
.banner{background:none;
    height:72px;
    padding:0;
    }
    

    
.header_nav{background:none;
    height:72px;
    width:114px;
    padding:0px;
    }
    
.header_nav ul{list-style-type:none;
                color:#fff;
                font-size:1em;
                 padding:0px;
                 margin-top:9px;
                 line-height:1.4em;}
                 
.header_nav a{color:@titleColor;}

.header_nav a:hover{text-decoration:underline;}
/*##########header_end##########*/ 
 
/*##########title_area##########*/
  
 .title_area{background:@primaryColor;
                height:38px;
                margin-top:1px;
               }
               
.title{background:none;
        height:38px;
        padding:0;
        margin:0;}
        
.title a{text-decoration:none;}
                
.title h4{color:@titleColor;
                font-family:@baseFontFamily;
                font-weight:@baseFontWeightReg;
               padding:0;
               margin-top:10px;
               margin-left:10px;
                }
 .buttons{text-align:right;
            position:relative;
            padding:0;
            margin-top:0;
            }
            
.buttons ul{list-style-type:none;
            position:absolute;
            right:0px;
            top:0px;}

.buttons li{
            font-family:@baseFontFamily;
            float:left;
            text-align:center;
           
           }
           
.buttons a{height:38px;
            width:50;
            margin-right:10px;
            padding:9px 10px;
            display:inline-block;
            color:@titleColor;
            -moz-transition:all .4s ease;
			-webkit-transition:all .4s ease;
			-ms-transition:all .4s ease;
			transition:all .4s ease;
}

.buttons a:hover{background:#fff;
                color:rgb(0,51,102);
                box-shadow:0 0 5px rgba(0,0,0,.3) inset;}
                
/*##########title_area_end##########*/

/*##########footer##########*/

footer{min-height:20px;
        margin-top:10px;
        position:relative;
        }
        
.footer_top{background:rgb(102,102,102);
            height:20px;
            padding:0;
           font-size:.8em;
           }
            
.footer_top ul{list-style-type:none;
                 margin-left:-25px; 
                 }

.footer_top li{float:left;
                margin-right:40px;
                padding-top:3px;
                }
                
.footer_top a{color:#fff;}
            
.footer_bottom{background:#fff;
            min-height:20px;}
            
.footer_bottom p.first{margin-top:7px;}

.footer_bottom p{line-height:1em;}
            
.footer_bottom a{color:@primaryColor;}

#pic_links{background:none;
            width:175px;
            height:70px;
            position:absolute;
            right:0;
            top:10px;}
            
#pic_links img{float:left;
                margin-right:10px;}

/*##########footer_end##########*/
 
@media (min-width:768px) and (max-width:1199px){
	
.banner{background:none;
    height:72px;
    width:678px;
    padding:0;
    }	
	
	
	
}

@media (min-width:768px) and (max-width:991px){
	
.banner{background:none;
    height:72px;
    width:457px;
    padding:0;
    }		
	
	
}

@media (min-width:320px) and (max-width:767px){
	
	
header.row{background:#000;
            height:72px;
            margin-top:10px;}
            
.logo{background:aqua;
    height:72px;
    padding:0;
   width:178px;
    }
    
.banner{background:none;
    height:72px;
    width:420px;
    padding:0;
    }		
	
    

    
.header_nav{background:none;
    height:72px;
    width:114px;
    padding:0px;
    }
    
.header_nav ul{list-style-type:none;
                color:#fff;
                font-size:1em;
                 padding:0px;
                 margin-top:9px;
                 line-height:1.4em;}
                 
.header_nav a{color:@titleColor;}

.header_nav a:hover{text-decoration:underline;}
/*##########header_end##########*/ 
 
/*##########title_area##########*/
  
 .title_area{background:@primaryColor;
                height:38px;
                margin-top:1px;
               }
               
.title{background:none;
        height:38px;
        padding:0;
        margin:0;}
        
.title a{text-decoration:none;}
                
.title h4{color:@titleColor;
                font-family:@baseFontFamily;
                font-weight:@baseFontWeightReg;
               padding:0;
               margin-top:10px;
               margin-left:10px;
                }
 .buttons{text-align:right;
            position:relative;
            padding:0;
            margin-top:0;
            }
            
.buttons ul{list-style-type:none;
            position:absolute;
            right:0px;
            top:0px;}

.buttons li{
            font-family:@baseFontFamily;
            float:left;
            text-align:center;
           
           }
           
.buttons a{height:38px;
            width:50;
            margin-right:10px;
            padding:9px 10px;
            display:inline-block;
            color:@titleColor;
            -moz-transition:all .4s ease;
			-webkit-transition:all .4s ease;
			-ms-transition:all .4s ease;
			transition:all .4s ease;
}

.buttons a:hover{background:#fff;
                color:rgb(0,51,102);
                box-shadow:0 0 5px rgba(0,0,0,.3) inset;}
                
/*##########title_area_end##########*/

/*##########footer##########*/

footer{min-height:20px;
        margin-top:10px;
        position:relative;
        }
        
.footer_top{background:rgb(102,102,102);
            height:20px;
            padding:0;
           font-size:.8em;
           }
            
.footer_top ul{list-style-type:none;
                 margin-left:-25px; 
                 }

.footer_top li{float:left;
                margin-right:40px;
                padding-top:3px;
                }
                
.footer_top a{color:#fff;}
            
.footer_bottom{background:#fff;
            min-height:20px;}
            
.footer_bottom p.first{margin-top:7px;}

.footer_bottom p{line-height:1em;}
            
.footer_bottom a{color:@primaryColor;}

#pic_links{background:none;
            width:175px;
            height:70px;
            position:absolute;
            right:0;
            top:10px;}
            
#pic_links img{float:left;
                margin-right:10px;}	
	
	
}


  

/**********************
        MIXINS
***********************/