/**********************
       CONSTANTS
***********************/

@primaryColor:rgb(0,51,102);

@boxColor:#fff;

@titleColor:#fff;

@baseFontFamily:"Source Sans Pro";

@baseFontColor:@primaryColor;

@boxShadow:0 0 4px rgba(0,0,0,.2);

@baseFontWeightlight:300;

@baseFontWeightReg:400;

@baseFontWeightBold:700;

@borderRadius:5px;

@startColor:rgb(255,255,255);

@endColor:rgb(230,230,230);

@borderDark:1px solid rgb(190,190,190);

@borderLight:1px solid rgb(230,230,230);

@textShadow:0px 1px 0 #fff;

@reverseTextShadow:0px -1px 0 #fff;

@siteBackground:rgb(250,250,250);

@siteBorder:1px solid rgb(240,240,240);

@fullReportBorder:1px solid rgb(200,200,200);

@padding:10px;

@homePageContentHeight: 600px;

@insetWidth: 250px;

@insetHeight: 250px;


/*##########content##########*/

/*##########global styles##########*/

#flot-tooltip {
	position: absolute;
	display: none;
	border: 1px solid #fdd;
	padding: 2px;
	background-color: #fee;
	opacity: 0.80;
}
#alert {
	display: none;
	position: absolute;
	right: 15px;
	top: 15px;
}

 /*###########################home_start####################### */
 
 .holder{
 		height:650px;
 		background:#fff;
 		padding-top:15px;
 		}
 
 .tagline{background:none;
 			min-height:40px;
 			text-align:center;
 }
 
 .tagline h2{font-family:@baseFontFamily;
 			font-size:2em;
 			color:@primaryColor;
 			font-weight:@baseFontWeightBold;
 }
 
 .tagline p{font-family:@baseFontFamily;
 			font-size:1.1em;}
 
.center{margin:0 auto;
		width:1015px;
		min-height:100px;
		background:none;
}
 
 .home_icon_holder{background:rgb(241,241,241);
 					width:325px;
 					height:330px;
 					margin-top:55px;
 					border-radius:10px;
 					text-align:center;
 					color:@primaryColor;
 					border:1px solid rgb(174,174,174);
 					float:left;
 					margin-right:20px;}
 					
 .home_icon_holder h4{padding-top:5px;
 					font-size:1.2em;}
 
 .last{margin-right:0;}
 
 .inside{background:#fff;
 		width:290px;
 		height:258px;
 		border-radius:10px;
 		margin-top:20px;
 		border:1px solid rgb(174,174,174);
 		overflow:hidden;
 }
 
 .highlight{background:none;
 			height:120px;
 			margin-top:25px;
}

.highlight h3{color:@primaryColor;
				font-size:1.8em;
				margin-bottom:10px;
}
 
 /*###########################home_end####################### */

 /*###########################site_start####################### */

.content{background:none;
        min-height:100%;
        position:relative;}
        

     
.site_map{background:@boxColor;
            height:@homePageContentHeight;
            padding:0;
            box-shadow:@boxShadow;
            border-radius:10px 0 0 10px;
            overflow:hidden;}
          
.map{background:none;
    height:@homePageContentHeight;
   }
   
.solution{background:none;
			overflow:auto;
			padding-left:0px;
}

.sites{background:none;
        height:@homePageContentHeight;
		padding-left:40px;
        }
        
        
.site_table{background:none;
            margin:0 auto;
            margin-top:15px;
            width:820px;
            }
            
.site_table th{background:none;
                width:400px;
                padding-left:20px;
                font-size:1.2em;
                color:@primaryColor;
                }
                
.site_table th.first_header{width:250px;}
                
.site_table th.name{background:none;
                    width:450px;}

.site_table th.type{background:none;
                    width:200px;}
                    
.site_table a{background:red;
                        cursor:pointer;
                        display:inline-block;
                        height:40px;
                        width:860px;}
                        
tr.clickableRow{cursor:pointer;}
                        
tr.clickableRow:hover{color:rgb(0,102,153);}
                
.site_table td{ padding-left:20px;
                height:30px;
                }
            
.filter{background:@siteBackground;
        height:@homePageContentHeight;
        border-left:1px solid rgb(220,220,220);
        border-radius:0 10px 10px 0;
        text-align:center;}
        
.statement{background:@boxColor;
            min-height:30px;
            margin-bottom:10px;
            margin-top:15px;
            border-radius:0 10px 0 0;
            border:@borderDark;
            overflow:hidden;
            text-align:center;}
            
.statement p{padding:@padding @padding 0 @padding;
                 font-size:.9em;
                 font-family:@baseFontFamily;}
                 
.statement i{-webkit-transform:rotate(270deg);
			-moz-transform:rotate(270deg);
			color:rgb(7,7,251);
}
        
        
.map_view{width:100px;
            height:25px;
            margin-right:5px;
           border:@borderDark;
            background:@boxColor;
			border-radius:5px;
			color:@primaryColor;
          }
            
.site_view{width:100px;
            height:25px;
            border:@borderDark;
           	background:@boxColor;
			border-radius:5px;
			color:@primaryColor;
            }
            
.map_view,
.site_view{outline:none;}

.map_view:hover,
.site_view:hover{background:@primaryColor;
				color:#fff;
}
            
.filter form{background:none;
			width:100%;
			min-height:200px;
			margin:0 auto;
			margin-top:30px;
			font-family:@baseFontFamily;
			font-size:1.1em;
			}
			
.filter form h4{text-align:left;
				font-style:normal;
				font-weight:600;}
				
.filter form p{cursor:pointer;}
			
.check_filter{background:@boxColor;
		border:@borderDark;
		border-radius:5px;
		width:100%;
		height:42px;
		position:relative;
		text-align:center;
		margin:20px 0 0 0;}
		
		
.check_filter p{font-size:1.2em;
	text-align:center;
	margin:0 auto;
	margin-top:7px;
	}


.filter input{font-size:1.5em;
		position:absolute;
		left:10px;
		top:9px;}
		
.filter button#siteDownload{background:@boxColor;
 						border:@borderDark;
 						width:70%;
 						height:30px;
 						border-radius:5px;
 						margin-top:60px;
 						font-size:1.2em;
 						padding:0;
 						font-family:@baseFontFamily;
 						outline:none;}
 						
.filter button#siteDownload:hover{background:@primaryColor;
									color:#fff;
}

/* Alaska Inset */
.olControlScaleLine {
	left: (@insetWidth + 20) !important; 
}

.olAlaskaInsetControlScaleLine {
	display: block;
	position: absolute;
	left: 10px;
	bottom: 15px;
	font-size: xx-small;
}

.olAlaskaInsetControlScaleLineTop {
	border: solid 2px black;
	border-top: none;
	text-align: center;
}

.olAlaskaInsetControlScaleLineBottom {
	border: solid 2px black;
	border-bottom: none;
	margin-top: -2px;
	text-align: center;
}

.narAlaskaMapInset {
	position: absolute;
	bottom: 0;
	left: 0;
}

.narAlaskaMapInsetElement {
	padding: 5px;
	-moz-border-radius: 0px 6px 0px 0px;
	-webkit-border-radius: 0px 6px 0px 0px;
	border-radius: 0px 6px 0px 0px;
	-khtml-border-radius: 0px 6px 0px 0px;
	background: rgba(0,51,102,0.7) !important;
}

#narAlaskaMapInsetInnerContainer {
	background-color: #f5f5f5;
	padding: 4px;
	height: @insetHeight;
	width: @insetWidth;
}

/* End Alaska Inset */

/* Site popup styling */
.nar-popup-dialog .ui-dialog-titlebar {
	padding: 0.1em !important; /* bootstrap override */
}

.nar-popup-dialog .ui-dialog-titlebar .nar-popup-dialog-close-icon{
	color: #888888;
}

.nar-popup-dialog .ui-dialog-titlebar {
	background: none;
	border: 1px solid #999999;
	color: #888888;
	font-size: 0.9em;
	background: -webkit-linear-gradient(#EEE, #888888); /* For Safari  >= 6.0 */
    background: -o-linear-gradient(#EEE, #888888); /* For Opera  >= 12.0 */
    background: -moz-linear-gradient(#EEE, #888888); /* For Firefox >= 3.6 */
    background: linear-gradient(#EEE, #888888); /* Standard syntax (must be last) */
}

.nar-popup-dialog .ui-dialog-titlebar > span {
	margin-left: 10px;
}

/* Site popup content styling */
#nar-dialog-content {
	color : #888888;
	padding: 0em;
}

#siteMap .olPopup .site-identification-popup-content-station-id {
	font-size: 1.1em;
}             
#siteMap .olPopup .site-identification-popup-content-links-and-graphs {
	font-size: 1.1em;
}
      
.nar-popup-dialog #site-identification-popup-content-container {
	padding-right: 5px !important;
	padding-left: 5px !important; 
}

.nar-popup-dialog #site-identification-popup-content-container .well {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	margin-top: 10px !important;
	margin-bottom: 0px !important;
	line-height: 1.5em
}

#nar-dialog-content .site-identification-popup-content-title {
	font-size: 1em;
}
#nar-dialog-content .site-identification-popup-content-station-id {
	font-size: 0.9em;
}             
#nar-dialog-content .site-identification-popup-content-links-and-graphs {
	font-size: 0.8em;
}  
#nar-dialog-content .site-identification-popup-content-links-and-graphs a{
	color: #428bca; 
}      
#nar-dialog-content .site-identification-popup-content-relevant-links {
	font-size: 0.8em;
}     

  /*###########################site_end####################### */
  
 /*###########################mississippi_start####################### */
 
 .mississippi_holder{min-height:400px;}
 
 .mississippi_title{background:@siteBackground;
 					height:90px;
 					border-radius:10px 10px 0 0;
 					border-bottom:@borderDark;
 					text-align:center;
 					position:relative;}
 					
 .mississippi_title h3{padding-top:25px;
 						margin:0 0 2px 0;
 						font-size:1.6em;}
 					
 .mississippi_title h6{margin:0;}
 
.mississippi_title button{font-size:1em;
  							width:72px;
  							border-radius:5px;
  							border:@borderDark;
  							background:@boxColor;
  							height:25px;
  							padding:1px 0 0 0;
  							margin:4.5px 10px 0 0;
  							outline:none;}
  							
.mississippi_title button:hover{background:@primaryColor;
 								color:#fff;} 
 								
 .mississippi_title a:hover{text-decoration:underline;
 							color:#428bca;}
 								
 #toggle{position:absolute;
 		right:5px;
 		top:48px;
 		width:110px;}
 		
 #toggle i{font-size:.9em;}
 		
#help{position:absolute;
	right:5px;
	top:10px;
	}
 					
 #mississippi_info i,
  #toggle i{-webkit-transform:rotate(270deg);
			-moz-transform:rotate(270deg);}
			
			
.mississippi_buttons{height:30px;
					background:@siteBackground;
					clear:both;
					margin:0;
					border-bottom:@borderDark;
					text-align:right;}

.mississippi_buttons button{font-size:.85em;
  							width:100px;
  							border-radius:5px;
  							border:@borderDark;
  							background:@boxColor;
  							height:20px;
  							padding:1px 0 0 0;
  							margin:4.5px 10px 0 0;
  							}
  							
.mississippi_buttons button:hover{background:@primaryColor;
 								color:#fff;}
			
.mississippi_filters{height:35px;
					background:@siteBackground;
					border-bottom:@borderDark;
					clear:both;
					margin:0;
					padding:0;}
					
.left_filter,
.right_filter{height:35px;}
					
.left_filter{border-right:@borderDark;}

.left_filter select,
.right_filter select{margin-top:6px;
					background:@boxColor;
					height:22px;
					outline:none;
					border:@borderDark;
					font-family:@baseFontFamily;
					width:160px;
					margin-right:33px;
					font-size:.85em;}

select.last{margin-right:0;}

.mississippi_maps{height:487px;
					background:@boxColor;
					margin:0;
					position:relative;}
					
#mississippi_info{border-bottom:@borderDark;
					border-left:@borderDark;
 					width:240px;
 					min-height:22px;
 					position:absolute;
 					right:0;
 					top:0;
 					background:@boxColor;
 					text-align:left;
 					font-size:.7em;
 					padding:4px 2px 0 5px;
 					line-height:1.4em;}
					
#left-map,
#right-map{height:487px;}

#left-map{border-right:@borderDark;}

#download_holder{background:@boxColor;
				width:170px;
				height:40px;
				position:absolute;
				bottom:0;
				left:43%;
				border-left:@borderDark;
				border-right:@borderDark;
				border-top:@borderDark;
				text-align:center;}
				
#download_holder button{width:150px;
						font-size:1em;
						padding:0 0 0 0;
						margin:7px 0 0 0;
						height:25px;
						border-radius:5px;
  						border:@borderDark;
  						background:#eee;}
  						
#download_holder button:hover{background:@primaryColor;
 								color:#fff;}
			
 /*###########################mississippi_end####################### */
 
 /*###########################coastal_start####################### */
 
 .coastal_holder{min-height:400px;}
 
 .coastal_title{background:@siteBackground;
 					height:54px;
 					border-radius:10px 10px 0 0;
 					border-bottom:@borderDark;
 					text-align:center;
 					position:relative;}
 					
  .coastal_title h3{margin:15px 0 0 0;
  					font-size:1.4em;
  }
  
  .coastal_content{margin:0;
  				min-height:487px;
  				clear:both;}
  				
 .coastal_map{background:#fff;
 				height:487px;
 				border-right:@borderDark;}
 				
  .coastal_filter{background:@siteBackground;
  					height:487px;
  					padding:10px;
  					text-align:center;}
  					
 #coastal_info{background:@boxColor;
 				border:@borderDark;
 				width:100%;
 				min-height:40px;
 				text-align:center;
 				}
 				
 #coastal_info p{padding:@padding @padding 0 @padding;
                 font-size:.9em;
                 font-family:@baseFontFamily;}
 				
 #coastal_info i{-webkit-transform:rotate(270deg);
			-moz-transform:rotate(270deg);
			color:rgb(7,7,251);
}
 				
 .coastal_filter button{background:@boxColor;
 						border:@borderDark;
 						width:100%;
 						height:42px;
 						border-radius:5px;
 						margin-top:20px;
 						font-size:1.7em;
 						font-family:@baseFontFamily;
 						outline:none;}
 						
 .coastal_filter button:nth-child(2){margin:55px 0 0 0;}
 						
.coastal_filter button:nth-child(6){margin:55px 0 0 0;}

.coastal_filter button:nth-child(7){margin:10px 0 0 0;}
 						
 .coastal_filter button:hover{background:@primaryColor;
 								color:@boxColor;}
 								
 .coastal_filter button.additional{width:80%;
 									height:25px;
 									font-size:1em;
 									padding-top:1px;}
 
 
 
 /*###########################coastal_end####################### */
  
  /*###########################summary_start####################### */
  
  .summary_info{background:rgb(255,255,255);
  					min-height:750px;
  					border-radius:10px;
  					overflow:hidden;
  					position:relative;
  }
  
  .site{background:@siteBackground;
  		height:130px;
  		text-align:center;
  		border-bottom:@borderDark;
  		color:rgb(59,59,59);
  		
  }
  
 .site h2{	margin-bottom:-8px;
 			font-size:1.8em;
 			
 }
 
 .col-lg-1{padding-left:0;}
 
 
.full_report,
.back_to_report,
 .back_to_site,
  .back_to_site_right{background:rgb(255,255,255);
				height:35px;
 				width:160px;
 				position:absolute;
 				border:@fullReportBorder;
 				text-align:left;
 				color:rgb(160,160,160);
 				font-size:1.1em;
 				border-radius:5px;
 				cursor:pointer;
 				}
 				
 .full_report{right:10px;
 				bottom:10px;}
 				
 .full_report:hover,
 .back_to_site:hover,
  .back_to_site_right:hover{background:rgb(210,210,210);
 					
 }
 
 .full_report ul{background:none;
			list-style-type:none;
			padding-left:0;
			height:35px;
			width:130px;
			font-family:@baseFontFamily;
			font-weight:@baseFontWeightReg;
			float:left;
}

 .full_report ul li{background:none;
				display:inline-block;
				width:130px;
				height:35px;
				padding:4px 0 0 10px;
				cursor:pointer;
				margin-bottom:12px;
				float:left;
				}

.full_report ul li a{color:#000;
						text-decoration:none;
						font-size:1.1em;
}
 
 .full_report i{margin-top:8px;
 					position:absolute;
 					right:15px;
 					color:#000;
 }
 
 .back_to_site,
 .back_to_site_right{text-align:center;
 				color:#000;
 				height:30px;
 				width:120px;
 				padding:3px 0 0 0;
 				}
 				
 .back_to_site{bottom:10px;}
 
    
.graphs{background:none;
		min-height:510px;
		margin-top:20px;
		padding:0 0 0 55px;
		margin-bottom:10px;
		} 


.comparisonGraph {background:none;
			height:100%;
			padding:0px;}
			
.graphContainer{width:30%;}

.stream{background:none;
		height:50%;
		margin-left:10px;
		text-align:center;
		padding-left:5px;}

.stream_row,
.human_row,
.aquatic_row{margin:0;
			
}

.stream,
.human,
.aquatic{background:none;
		height:100%;
		margin-right:10px;
		text-align:center;
		padding:0;
		} 
		
.human{margin-left:15px;}

.stream h3,
.human h3,
.aquatic h3{font-size:1.5em;
			color:@primaryColor;}

.stream h6,
.human h6,
.aquatic h6{padding-left:50px;}

.aquatic{background:none;
		margin-right:0;
}

.link-popover-anchor {
	border-bottom: 1px dashed #003366;
}

.popover-benchmark-content {
	text-align: center;
}

.summary-popover {
	max-width: none;
}

.summary-popover .popover-title {
	text-align: center;
}

/*###########################summary_end####################### */

/*###########################full_report_start####################### */

.full_site{background:@siteBackground;
  		height:100px;
  		text-align:center;
  		border-bottom:@borderDark;
  		color:rgb(59,59,59);
  		
  }
  
 .full_site h2{margin-bottom:10px;
 			font-size:1.8em;
 			
 }
 
  .full_site h3{padding:0;
  				margin:0;
  				font-size:1.2em;
  }
 
 
 .back_to_report{left:10px;
 				bottom:10px;
 				text-align:right;
 				}
 				
 .back_to_report:hover{background:rgb(210,210,210);
 					
 }
 
 .back_to_report ul{background:none;
			list-style-type:none;
			padding-left:0;
			height:35px;
			width:130px;
			font-family:@baseFontFamily;
			font-weight:@baseFontWeightReg;
			float:left;
}

 .back_to_report ul li{background:none;
				display:inline-block;
				width:150px;
				height:35px;
				padding-top:4px;
				cursor:pointer;
				margin-bottom:10px;
				float:left;
				}

 .back_to_report ul li a{color:#000;
						text-decoration:none;
						font-size:1.1em;
}

.back_to_report i{margin-top:8px;
 					position:absolute;
 					left:8px;
 					color:#000;
 }
 
 .back_to_site_right{right:10px;
 					bottom:10px;}


.report_filter{background:@siteBackground;
				height:650px;
				overflow-y: auto;
}

.full_report_graphs{background:none;
				min-height:603px;
				text-align:center;
				position:relative;
}

.full_report_graphs img{margin-top:15px;}

.wrapper{background:none;
		height:590px;
		overflow:auto;
		margin-top:10px;
		padding-top:0;
}


.full_report_plot{background:none;
		min-height:183px;
		padding:0;
		margin-bottom:10px;
		cursor: move;
}

.full_report_plot img{margin:0;}

.hydrograph {
	height: 300px;
	width: 50%;
	display: inline-block;
}

.last{margin-bottom:0;}



.slider{background:#eee;
		height:30px;
		margin:0 auto;
		margin-top:10px;
		margin-left: 12%;
		width: 80%;
}
.slider_label_container label {
  position: absolute;
  width: 20px;
  margin-top: 20px;
  margin-left: -10px;
  text-align: center;
}

.full_report_instructions i{
    font-size: 5em;
} 

/*###########################full_report_end####################### */

/*###########################about_start####################### */

.about_content{background:#fff;
		width:100%;
		padding:5px 10px 10px 10px;
		
}

.about_content p{font-family:@baseFontFamily;
			font-size:1.2em;
			line-height:1.5em;
}

.about_content ul{font-family:@baseFontFamily;
			font-size:1.2em;
}

.about_content ul li{margin-top:10px;}

#wrapper{background:none;
		width:90%;
		margin:0 auto;
		
}


/*###########################about_end####################### */


/*###########################download_start####################### */


				
#downloadTop{background:@siteBackground;
			width:650px;
			height:90px;
			padding:0 15px;
			border-radius:10px 10px 0 0;
			border-bottom:@borderDark;
			margin:0 auto;
			text-align:center;
			box-shadow:1px 1px 5px rgba(0,0,0,.3);}
			
#downloadForm{background:@boxColor;
				width:650px;
				min-height:510px;
				margin:0 auto;
				margin-bottom:20px;
				border-radius:0 0 10px 10px;
				text-align:center;
				padding:15px;
				box-shadow:1px 1px 5px rgba(0,0,0,.3);
				}
			
#downloadTop h2{padding-top:10px;
				margin:0 0 2px 0;}
				
#downloadTop p{font-size:.9em;}

#s2id_e1,
#s2id_e2{font-family:@baseFontFamily;
		font-size:1.2em;
		width:49% !important;
		padding-top:0;}
		
#s2id_e1{float:left;}
#s2id_e2{float:right;
}
		
#s2id_e3,
#s2id_e4,
#s2id_e5,
#s2id_e6,
#s2id_e7,
#s2id_e8{width:100%;
		margin-top:15px;
}

#s2id_e8{margin-bottom:20px;}
		
		
#select2-drop{font-family:@baseFontFamily;}
						
.select2-choice{border-radius:1px;
				}
				
.select2-choices{border-radius:5px;}

						
.select2-search-choice div{margin-top:4px;
							padding-top:0;}
						
#checkbox_holder{font-size:.85em;
				text-align:left;
}				
				
#checkbox_holder input{margin:0 5px 0 10px;
					text-align:left;
					padding:0;
}

#checkbox_holder input#first{margin:0 5px 0 3px;}

#box{border:@borderDark;
	height:30px;
	margin:15px 0 0 0;
	border-radius:5px;
	
}


 p#format{text-align:left;
				margin:4px 0 0 10px;
				float:left;
				font-weight:600;
}

#format_holder{text-align:left;
				float:left;
}

#format_holder input{margin:8px 5px 0 10px;
					
}

#downloadButtons{margin-top:20px;}

#downloadButtons button{background:@primaryColor;
						color:#fff;
						font-weight:700;
						border:none;
						width:200px;
						height:40px;
						border-radius:5px;
						margin:5px 10px 0 0;
						font-size:1.3em;
						outline:none;}
						
#downloadButtons button:hover{background:@siteBackground;
								color:@primaryColor;
								border:@borderDark;
}

/*###########################download_end####################### */


/*#########ipad_landscape######## */

@media (min-width:992px) and (max-width:1199px){
	
/*###########################home_start####################### */
 
 .holder{height:620px;}
 
.center{width:935px;}
 
 .home_icon_holder{	width:305px;
 					height:310px;
 					margin-right:10px;}
 					
 .home_icon_holder h4{font-size:1.1em;}
 
 .inside{width:270px;
 		height:238px;}
 
 .last{margin-right:0;}
 
 /*###########################home_end####################### */
	
 /*###########################site_start####################### */
 
 .sites{padding-left:0px;}
 
.statement{padding:0;}
            
.statement p{padding:8px 8px 0 8px;
             font-size:.9em;}
                 
.map_view{width:80px;}
            
.site_view{width:80px;}
            
.site_table th.first_header{background:none;
			width:80px;}
 
.site_table th.name{width:220px;}

.site_table th.type{ width:200px;} 


.check_filter p{font-size:1em;
				margin:8px 0 0 8px;
}       

/*###########################site_end####################### */

/*###########################mississippi_start####################### */

.left_filter select,
.right_filter select{width:136px;
					margin-right:18px;
					}
					
select.last{margin-right:0;}

#download_holder{left:41.5%}
					
/*###########################mississippi_end####################### */

/*###########################summary_start####################### */

.graphContainer,
.human,
.aquatic{width:31.8%;}

.human{margin-left:10px;}

.stream h3{font-size:1.4em;}
 				
 .graphs{padding:0 0 0 25px;} 
 				
 /*###########################full_start####################### */
 				
 				
 .back_to_report{left:20px;
 				bottom:10px;
 				height:35px;}
 				
 .back_to_report ul li{padding-top:4px;}
 
  .back_to_report i{margin-top:7px;}
		
		
}/*media query end */

/*#########ipad_portrait######## */

@media (min-width:768px) and (max-width:991px){
	
	
/*###########################home_start####################### */
 
 .holder{
 		height:600px;
 		 }
 
 
 .tagline h2{
 			font-size:1.5em;
 }
 
 .tagline p{
 			font-size:1em;
 }
 
.center{width:725px;
}
 
 .home_icon_holder{width:235px;
 					height:260px;
 					margin-right:10px;}
 					
 .home_icon_holder h4{font-size:1.2em;
 }
 
 
 .inside{
 		width:200px;
 		height:168px;
 }
 
  .last{margin-right:0;}
 
 
 /*###########################home_end####################### */
	
 /*###########################site_start####################### */
 
 .sites{padding-left:0px;}
 
 .site_table{width:600px;}
            
.site_table th{ width:100px;}

.site_table th.first_header{width:80px;}
                
.site_table th.name{width:320px;}

.site_table th.type{width:200px;}
                        
.site_table td{ font-size:.85em;
                }
.statement{padding:0;}
            
.statement p{padding:5px 8px 0 8px;
             font-size:.85em;}
                 
.map_view{width:75px;
          margin-left:1px; 
          margin-right:1px;
		  overflow:hidden;
		  font-size:.95em;
          }
            
.site_view{width:75px;
            height:25px;
			font-size:.95em;}
			
.check_filter p{font-size:.85em;
				margin:11px 0 0 20px;}
				
.filter button#siteDownload{width:85%;
							margin-top:60px;
}       
            
/*###########################site_end####################### */

/*###########################mississippi_start####################### */

.mississippi_title h3{font-size:1.4em;}
 					
 .mississippi_title h6{font-size:.8em;}
 
 #mississippi_info{
 					padding:2px 0 2px 5px;
 }
 
 #toggle{width:70px;
 		height:38px;
 		text-align:center;
 		font-size:.9em;
 		top:40px;
 }
 		
  #toggle,
  #help{right:0;}
  
   #help{top:4px;}
 
.mississippi_title button{
 							background:@boxColor;}

.left_filter select,
.right_filter select{width:100px;
					margin-right:18px;
					}
					
select.last{margin-right:0;}

#download_holder{left:39%}
					
/*###########################mississippi_end####################### */

/*###########################summary_start####################### */
			
			
.summary_info{min-height:721px;}
			
.site{height:120px;
  	border-bottom:@borderDark;}
  		
.site h2{font-size:1.6em;}
 
.site h3{font-size:1.4em;}
			
.graphs{height:100%;
		padding:0 0 0 10px;
} 

.graphContainer,
.human,
.aquatic{width:100%;
		height:480px;
		margin:10px 0 5px 0;}
		
.bar_row{margin:0;}

.full_report{	height:35px;
				width:140px;}
 				
 .full_report ul li{padding-top:5px;}
 				
 .full_report ul li a{font-size:1em;}
 
 .full_report i{margin-top:8px;
 				right:10px;
 }

/*###########################summary_end####################### */

.full_site h2{font-size:1.6em;}

.back_to_report{height:35px;
				width:140px;
				left:15px;
 				bottom:10px;}
 				
.back_to_report ul li{padding:6px 20px 0 0;}
 				
.back_to_report ul li a{font-size:1em !important;}

.back_to_report i{margin-top:9px;
 				left:5px;
 }
	
}/*query end */


@media (min-width:220px) and (max-width:767px){ 
	
	
/*###########################home_start####################### */
 
 .holder{height:600px;}
 
 .tagline h2{
 			font-size:1.5em;
 }
 
 .tagline p{
 			font-size:1em;
 }
 
.center{width:725px;}
 
 .home_icon_holder{	width:235px;
 					height:260px;
 					margin-right:10px;
 					}
 					
 .home_icon_holder h4{font-size:1.2em;}
 
 
 .inside{width:200px;
 		height:168px;}
 
  .last{margin-right:0;}
 
 
 /*###########################home_end####################### */

/*###########################site_start####################### */

 .sites{padding-left:0px;}

 .site_table{width:600px;}
            
.site_table th{width:100px;}
                
.site_table th.first_header{width:80px;}
                
.site_table th.name{width:350px;}

.site_table th.type{width:200px;}

.site_table td{font-size:.9em;}
 	
.statement{padding:0;}
            
.statement p{padding-top:5px 8px 0 8px;
			font-size:.85em;
}
                 
.map_view{width:72px;
            height:25px;
           margin-left:1px; 
           margin-right:1px;
			overflow:hidden;
			font-size:.85em;
          }
            
.site_view{width:72px;
            height:25px;
			font-size:.85em;}
			
.check_filter p{font-size:.75em;
				margin:11px 0 0 15px;}
				
.filter button#siteDownload{width:85%;
							margin-top:60px;
}     
            
/*###########################site_end####################### */

/*###########################mississippi_start####################### */

.mississippi_title h3{font-size:1.4em;}
 					
 .mississippi_title h6{font-size:.8em;}
 
 #mississippi_info{
 					padding:2px 0 2px 5px;
 }
 
 #toggle{width:60px;
 		height:38px;
 		text-align:center;
 		font-size:.9em;
 		top:40px;
 }
 		
  #toggle,
  #help{right:0;}

.left_filter select,
.right_filter select{width:100px;
					margin-right:10px;
					}
					
select.last{margin-right:0;}

#download_holder{left:39%}
					
/*###########################mississippi_end####################### */

/*###########################summary_start####################### */
		
.summary_info{min-height:721px;}
			
.site{height:120px;
  	border-bottom:@borderDark;}
  		
.site h2{font-size:1.6em;}
 
.site h3{font-size:1.4em;}
			
.graphs{height:100%;} 

.graphContainer,
.human,
.aquatic{width:100%;
		height:480px;
		margin:10px 0 5px 0;}
		
.bar_row{margin:0;}

.full_report{	height:35px;
				width:140px;}
 				
 .full_report ul li{padding-top:5px;}
 				
 .full_report ul li a{font-size:1em !important;
 				padding-top:4px !important;
 }
 
 .full_report i{margin-top:8px;
 				right:10px;
 }

/*###################################### */


 
 .back_to_report{height:35px;
				width:140px;
				left:15px;
 				bottom:10px;}
 				
.back_to_report ul li{padding:6px 20px 0 0;}
 				
.back_to_report ul li a{font-size:1em !important;}

.back_to_report i{margin-top:9px;
 				left:5px;
 }

.full_site h2{font-size:1.6em;}
 

}/*query end */