
/*##########content##########*/

div#block{background:#fff;
			width:800px;
			height:300px;
			margin:0 auto;
			margin-top:10px;
			}
			
div#block h1{color:rgb(15,65,111);
			font-size:2em;
			padding-left:10px;
			padding-top:50px;
			font-family:"Source Sans Pro";
			margin-bottom:10px;
			text-align:center;
			}
			
div#block p{font-family:"Source Sans Pro";
			font-size:1.5em;
			text-align:center;
			}